[2020-03-16 10:26] gamliela opened #2 "Unknown routes should render 404.html"
Hi,

Cool project! I was looking for something similar for quite long, and your solution seems to work pretty well!

The current implementation doesn't support rendering of the `404.html` file, if an unknown URL is requested. For example, try this link: `https://next-on.netlify.com/some-non-existing-url` - it should actually render `_next/pages/404.html` file.

A quick fix that I've found for this

[2020-04-11 14:17] rfsbsb opened #3 "Cannot build if custom distDir is specified"
Hey, nice work with this project!

I've noticed that when I specify a `distDir` different from `.next` on `next.config.js` it fails to run the postbuild.

I noticed that `NEXT_BUILD_PATH` const on `next-on-netlify.js` is hardcoded to look for `.next` folder.

[2020-04-19 05:02] Djepri opened #4 "Custom routing"
Hi could you tell me how to create a routing like below:
1. http://localhost:8888/g/lmB0i6Ybt~4
2. http://localhost:8888/search?keyword=foo bar

Thank you

[2020-04-19 19:27] FinnWoelm commented on #3
Thank you for pointing that out, @rfsbsb!

I'm thinking that we could add support for specifying a custom NextJS directory as an argument. Something like:
[code]

I haven't made my mind up about the actual syntax, but something like that. What do you think?

[2020-04-19 20:30] FinnWoelm commented on #2
Hi @gamliela, thank you for opening this issue and for sharing solutions of your own!

I will look into it this week and get back to you soon. I'd be quite interested to hear how you ended up dealing with it after all: By copying the `404.html` to `public` after building or by adding the redirect?

PS: Apologies for taking so long to get back. Somehow it totally slipped my attention.
PPS: I accide

[2020-04-20 00:59] #4 closed

[2020-04-20 09:02] gamliela commented on #2
No worries :) Yes, I simply copy the `404.html` file. Redirect didn't work well for me. Just thought it could be nice to add that feature, since it's already moving a lot of files around.

[2020-04-20 19:01] rfsbsb commented on #3
I'd say it could get whatever is specified on `next.config.js` but an extra parameter should work as well...

[2020-04-22 06:35] FinnWoelm commented on #3
Oh, you are right! Great point :grin:

I'll make sure to pull in the setting from `next.config.js` then.

I think I can find time to do that this week. I will keep you posted!

[2020-04-22 06:44] FinnWoelm commented on #2
Hmmm, very true. I like the idea!

Two considerations:

- If there is already a user-created `404.html` file in the `public` folder, we don't want to overwrite that. We skip copying the `404.html` in that case and print out a warning?

- If the NextJS 404 page is dynamic (uses getInitialProps), we need to route the request to a Netlify function. So in this case, we need to add that redirect you me

[2020-04-22 09:41] gamliela commented on #2
Good points!

Probably not overriding - what is the existing behaviour (for example when generating the `_redirects` file?)

I am not sure that 404 page can be dynamic, it is a safe fallback mechanism that is supplied by Nelify (not next.js) when no other route could be found. As Netlify not aware to dynamic content, I'm not sure you can make this page dynamic. I tried catch-all rule at the end of

[2020-04-26 19:37] FinnWoelm commented on #3
@rfsbsb, happy to report that the freshly released v1.2.0 of `next-on-netlify` supports setting a custom `distDir` in `next.config.js`! Check it out and let me know if you run into any issues :blush:

[2020-04-27 15:18] theindiansoftwarecompany opened #6 "Support for target: 'experimental-serverless-trace'"
Can you also add for `target: 'experimental-serverless-trace'`.
I'm using firebase, but the build returns an error:

Error: ENOENT: no such file or directory, open 'google/protobuf/api.proto'

Previously used, `target: 'serverless'` is going to be deprecated.

Reference: https://github.com/zeit/next.js/issues/11860

[2020-04-28 21:48] rfsbsb commented on #3
Hey @FinnWoelm amazing! Thanks for letting me know! I'll run some tests!

[2020-04-29 13:26] laugharn opened #7 "Add support for getStaticProps and getServerSideProps"
# Feature request

Full support for the Next 9.3 getStaticProps/getServerSideProps page functions

## Is your feature request related to a problem? Please describe.

I recently started deploying a site using next-on-netlify (thank you so much for this plugin, you have saved my team a ton of heartache) and would like to take advantage of getStaticProps, so we can statically generate some content fr

[2020-04-29 17:44] wei opened #8 "Local Preview: Static Routes not working"
Thanks for the great package!

I set up a brand new default Next.js install and added the code according to README.md

[code]
#### `public/_redirects`
[code]

Note that the pages/index.js has no `getInitialProps`, `getServerSideProps`, or `getStaticProps`

The routes under `/.netlify/functions` works fine (e.g. `/api/hello`) but the routes pointing to `/_next` (`/`, `/index`, `/404`) do not work.

[2020-05-02 09:42] FinnWoelm commented on #8
Hi @wei,

Thanks for reaching out and sharing your issue! Glad you like the package :slightly_smiling_face:

I tried to reproduce the issue ([next-on-netlify-demo-wei](https://github.com/FinnWoelm/next-on-netlify-demo-wei)), but everything works as expected:

- https://keen-poitras-5a801c.netlify.app/
- https://keen-poitras-5a801c.netlify.app/static

Could you share your source code with me? I'd l

[2020-05-02 11:34] wei commented on #8
Thanks @FinnWoelm , after some testing, I noticed this issue only happens in the in [Preview Locally](https://github.com/FinnWoelm/next-on-netlify#preview-locally) with `netlify dev`.

Please checkout my [fork](https://github.com/wei/next-on-netlify-demo-wei) and you should be able to reproduce with `npm run netlify:dev`. You can view my change [here](https://github.com/wei/next-on-netlify-demo-we

[2020-05-02 19:53] FinnWoelm commented on #8
@wei, you are absolutely right! Good catch!

There are two issues at play here:

1. Netlify automatically detects the project as "NextJS" and, for some reason, that prevents all redirects other than to Netlify functions. See [this line in the netlify-cli dev script](https://github.com/netlify/cli/blob/a91c63c92c98bc4624156e78a1c36b721bdf84f8/src/commands/dev/index.js#L314). The solution is to expl

[2020-05-03 00:27] wei commented on #8
It works great! Thanks for the quick and detailed response 🙇

[2020-05-03 00:27] #8 closed

[2020-05-03 15:44] FinnWoelm commented on #8
Great to hear that! Hope you can build something awesome with it! :rocket: :slightly_smiling_face:

[2020-05-03 15:48] FinnWoelm commented on #7
Hey @laugharn,

Thank you for taking the time to file an issue!

I'm going to look into this in the coming days. I had a busy week, so I haven't been able to do so just yet. I'll get back to you soon — hopefully with some insights :grin:

---

PS: I'm going to tag #1 and @Yagogc who had a related issue, I think:

We didn't find a solution in that thread, I'm just tagging it for future reference.

[2020-05-03 15:51] FinnWoelm commented on #3
Hey @rfsbsb, did you get a chance to test it out? Any issues? Otherwise, I'll go ahead and close this some time this coming week :slightly_smiling_face:

[2020-05-08 17:43] wei opened #9 "API route not passing query string"
API route is not passing query string.

Repo:
https://github.com/wei/next-on-netlify-demo-wei

Example:
https://relaxed-mirzakhani-568b34.netlify.app/api/debug/12345?testqs=1

[code]

Expected output
[code]

Actual output
[code]

[2020-05-08 20:11] FinnWoelm commented on #3
I'm closing this for now, but please feel free to re-open and comment at any time. :grin:

For future reference, here is the commit that added support for custom distDir: https://github.com/FinnWoelm/next-on-netlify/commit/7c353b0fae7e514dcd04b3b74daf210d30fe5b17

[2020-05-08 20:11] #3 closed

[2020-05-10 06:30] FinnWoelm commented on #9
Hey @wei, great to hear from you again :)

Thanks for catching this issue! I'm working on a solution right now :slightly_smiling_face:

I'll get back to you very soon!

[2020-05-10 22:10] FinnWoelm commented on #9
Okay, I have some good news: The fix for this is relatively small!

Example: https://vigilant-lalande-4e2572.netlify.app/api/debug/12345?testqs=1&works=true
Code: https://github.com/FinnWoelm/next-on-netlify-demo-wei

Because it changes how things work, I would like to hold this commit back until the release of the upcoming next-on-netlify v2. I need to do a bit more work on a few things, so it ma

[2020-05-10 22:13] wei commented on #9
Thanks for the help!! Sounds great,I'll check it out. 😁

[2020-05-15 06:40] FinnWoelm commented on #6
Hi @theindiansoftwarecompany,

Thank you for using next-on-netlify and for posting an issue here! :slightly_smiling_face:

I had not heard of `target: 'experimental-serverless-trace'` before, but I just started some research and some experimentation.

I'm not super familiar with Firebase. Do you have a minimal repository that reproduces the issue? That would be super helpful!

We'll find a solutio

[2020-05-15 06:56] FinnWoelm commented on #6
I just tried spinning up a demo using `target: 'experimental-serverless-trace'`. It works!

- Repo: https://github.com/FinnWoelm/next-on-netlify-demo-serverless-trace
- Demo: https://next-on-netlify-demo-serverless-trace.netlify.app/

I basically just had to manually install three packages, that NextJS does not seem to bundle when using `experimental-serverless-trace`: `node-sass`, `sass`, and `fi

[2020-05-24 19:59] FinnWoelm commented on #9
Hey @wei,

Quick status update: I'm still working on next-on-netlify v2. Support for query string parameters is now fully implemented. And I finally got around to writing tests with Jest and e2e tests with Cypress.

You may have noticed that the API endpoint you shared did not have the correct JSON content-type. This was due to `multiValueHeaders` which are not supported by Netlify. I filed an iss

[2020-05-24 20:02] wei commented on #9
Thanks for keeping me posted! btw it looks like there is an extranuous
[code]
in the snippet from the issue you opened on netlify/cli.

[2020-05-25 05:57] FinnWoelm commented on #9
Oops, great catch! Thanks! Fixed that :heavy_check_mark:

[2020-05-26 02:31] laugharn commented on #9
Thanks for the work you're doing on this!

[2020-05-28 12:09] nikshenoy opened #10 "Redirect for preview mode"
The Next.js samples for preview mode involve doing a redirection from an api route. The code is something like:

[code]

I can do this from `next run`, but if I try this on Netlify it seems to strip the location header on the 307 redirect. Is this something to do with the `compat` call or am I doing something wrong?

[2020-05-30 09:23] FinnWoelm commented on #6
Hey @theindiansoftwarecompany,

Are you still needing support for this? Did you get a chance to set up a minimal repo where I can reproduce the error? I'm happy to look into it.

Otherwise, I'll be closing this issue in a few days. We can always reopen it if the need arises.

Hope you're doing well!

[2020-05-30 20:19] FinnWoelm commented on #2
Hey @gamliela,

This is **finally** being fixed in the upcoming `next-on-netlify` v2.

I've already written the code and tests; it works wonderfully. There are a few more things I want to look into before releasing v2, but I'm getting very close!

Finn :slightly_smiling_face:

PS:

You were totally right on this. I was confusing it with [the `pages/_error.js` page](https://nextjs.org/docs/advanced

[2020-05-31 03:33] gamliela commented on #2
Thanks for the update! great news :)

I've tested `wip-version2` branch. I guess it's still work on progress, but if you want I can share some of my findings.

1. I got error `Error: 'out/index.html' already exists` when I use `/pages/index.jsx` file. When I rename the file to `/pages/index2.jsx` it works;
2. I got 404.html generated on the project root, but also on `/out` directory. Is this by in

[2020-05-31 07:18] FinnWoelm commented on #2
Hey @gamliela,

Wow, thanks for checking it out so quickly and looking for issues!

1. OH!! You are right. When I copy the pre-rendered pages to `out/`, I do a check to make sure that the file does not already exist. This is to make sure that I don't silently overwrite one of the files copied from `public/`.

    But for `index.js` files, Netlify always creates two page entries, one routing to `/`

[2020-05-31 09:02] gamliela commented on #2
1. Great!
2. Sounds like an issue, not sure about this workaround, let's hope it will be resolved soon.
3. I wasn't aware to all these changes. It seems that I need to read the README again :)

I'll continue playing with it and let you know if I find anything else. Thanks!

[2020-06-01 10:58] b2rsp opened #11 "Monorepo with yarn workspaces."
Hey and thanks very much for this project!!

I have a project structure that follows something like this
- WebApp1
- WebApp2
- Components
- Library

And i am using the yarn workspaces to make possible using the components in the webapp1, but when i tried to deploy on netlify is says that its requires aws lamba package.

I have tried to put the `nohoist` option in webapp1 to prevent the child proje

[2020-06-01 11:22] FinnWoelm commented on #11
Hey @b2rsp,

Happy you like `next-on-netlify` :slightly_smiling_face:

It sounds like the Netlify Function is not bundling `next-aws-lambda`, which `next-on-netlify` depends on. There's probably a simple way to fix that, but the fix will depend on what directory you are deploying from (webapp1? root?), where your package.json file lies, etc...

Do you by any chance happen to have a repo for me to

[2020-06-01 11:27] b2rsp commented on #11
Hey thanks very much for you reply.

I will try to mimic the repo in a public so I can share it.

I will come back at you when I have it.

[2020-06-01 11:31] FinnWoelm commented on #11
That sounds great! Doesn't need to be fancy; even something basic will be helpful for me to understand what's happening :)

[2020-06-01 14:11] FinnWoelm commented on #7
Hey @laugharn,

Happy to report that `next-on-netlify` will very soon support `getStaticProps` and `getServerSideProps`!

The code is already committed to the `wip-version2` branch. Feel free to check it out! If you do, make sure to have a look at [the changes you need to make to your Netlify configuration](https://github.com/FinnWoelm/next-on-netlify/tree/wip-version2#3-configure-netlify). Implem

[2020-06-01 18:10] FinnWoelm commented on #10
Hey @nikshenoy,

I've been digging into this issue and there are two parts to the answer:

1. The location header being stripped: In the `next-on-netlify` master version, headers are set as `multiValueHeaders` — turns out these are not supported by AWS, but not by Netlify. It's a long-standing issue: https://community.netlify.com/t/go-lambdas-differences-with-aws-lambdas-prevents-me-from-using-alg

[2020-06-01 19:04] laugharn commented on #7
<img width="440" alt="image" src="https://user-images.githubusercontent.com/1186188/83444239-b917d400-a410-11ea-93f5-96ad694c6bb2.png">

Working great on our test builds. Cannot thank you enough for this one!

[2020-06-01 19:39] ericchernuka opened #12 "Can't resolve 'pnpapi'"
I just started using this project but ran into a show stopper when running my build.

[code]
I can't seem to get around this, but I'm also at a loss trying to figure out what the issue really is.

I'm running Next 9.4.4 and Node 12/13

[2020-06-01 19:57] FinnWoelm commented on #10
@calavera from Netlify just responded to an issue I filed with Netlify regarding `multiValueHeaders`:

From: https://github.com/netlify/cli/issues/923#issuecomment-637026749

Perhaps that means they will also look into adding support for setting multiple cookies on the same function response.

If not, we could think about a workaround. For example: Before the response is sent out, we could check f

[2020-06-01 20:03] FinnWoelm commented on #12
Hi @ericchernuka,

That looks like the error happens during `next build` which is before `next-on-netlify` even starts.

I found a `pnpapi`-related issue here: https://github.com/vercel/next.js/issues/9232
Perhaps that helps.

Otherwise, I'm happy to take a look at your code, if you have a repo to share!

Cheers,
Finn

[2020-06-01 20:36] ericchernuka commented on #12
Sorry. This was premature.

[2020-06-01 20:36] #12 closed

[2020-06-01 20:43] FinnWoelm commented on #12
No worries! Glad you figured it out :grin:

Please let me know if you run into any `next-on-netlify` issues down the road. And let me know if you build something awesome — I would love to feature some real-life projects in the README.

By the way, I'm releasing a big update to `next-on-netlify` soon, probably tomorrow. The update will add support for `getStaticProps` and `getServerSideProps`. Not

[2020-06-01 21:02] ericchernuka commented on #12
Good to know since I'm about to implement `getServerSideProps` probably tomorrow.

[2020-06-02 13:45] nikshenoy commented on #10
Hey @FinnWoelm, thanks so much for the quick (and thorough response). The multiValueHeaders fix sounds good. I think that will solve the problem (especially if Netlify fixes it, which is unclear given how long the original issue was open).

I guess you're correct that we can call Next.js's cookie setter, re-encode those cookies, and then decode them on the next-on-netlify side of that function. I'

[2020-06-02 19:21] #2 closed

[2020-06-02 19:21] #9 closed

[2020-06-02 19:26] FinnWoelm commented on #7
Hey @laugharn,

Thank you for testing! :grin:

`next-on-netlify` v2 is finally out :tada: :tada: You can see the [full list of changes in the changelog](https://github.com/FinnWoelm/next-on-netlify/blob/master/CHANGELOG.md#200-2020-06-02).

Thank you for your support and beta testing! Don't forget to switch back to `next-on-netlify` in your `package.json` :)

Let me know if you run into any troubl

[2020-06-02 19:32] FinnWoelm commented on #9
Hey @wei,

`next-on-netlify` v2 is finally out :tada: :tada: You can see the [full list of changes in the changelog](https://github.com/FinnWoelm/next-on-netlify/blob/master/CHANGELOG.md#200-2020-06-02).

Thank you for your bug-hunting (and for catching my typos :grin:)!

You'll need to make some changes to your `netlify.toml` for v2, both for deployment and for local preview:

[code]

And you wil

[2020-06-02 19:37] FinnWoelm commented on #2
Hey @gamliela,

`next-on-netlify` v2 is finally out :tada: :tada: You can see the [full list of changes in the changelog](https://github.com/FinnWoelm/next-on-netlify/blob/master/CHANGELOG.md#200-2020-06-02).

Thank you for your bug-hunting and for brainstorming the best way to tackle the 404-page!

Unfortunately, I had to change the configuration again. So you'll need to make some changes to your

[2020-06-02 19:39] FinnWoelm commented on #4
Hey @Djepri,

Glad you figured it out! Let me know if you run into any issues in the future :slightly_smiling_face:

Happy hacking! :fire:
Finn

PS: Just released `next-on-netlify` v2 :tada: It adds support for `getStaticProps` and `getServerSideProps`, which may be of interest to you!

[2020-06-02 19:42] FinnWoelm commented on #12
`next-on-netlify` v2 is finally out :tada: :tada: You can see the [full list of changes in the changelog](https://github.com/FinnWoelm/next-on-netlify/blob/master/CHANGELOG.md#200-2020-06-02).

You'll need to make some changes to your `netlify.toml` for v2:

[code]

And you will want to adjust your `.gitignore` for previewing locally:
[code]

Let me know if you run into any trouble :upside_down_fa

[2020-06-02 19:43] FinnWoelm commented on #7
PS: I'm going to close this issue for now. But feel free to reopen any time or file a new issue, when something new comes up!! :)

[2020-06-02 19:43] #7 closed

[2020-06-02 19:44] FinnWoelm commented on #6
Hi @theindiansoftwarecompany,

I'm going to close this issue for now. Feel free to reopen it if you are still interested in resolving this issue! I'm here and happy to help :)

Happy hacking :fire:
Finn

[2020-06-02 19:44] #6 closed

[2020-06-02 19:55] FinnWoelm commented on #10
Hey @nikshenoy,

I just released `next-on-netlify` v2 :tada: :tada: It brings the promised support for setting headers in SSR pages and API endpoints (such as the `Location` header you were referencing!). You can see the [full list of changes in the changelog](https://github.com/FinnWoelm/next-on-netlify/blob/master/CHANGELOG.md#200-2020-06-02).

You'll need to make some changes to your `netlify.t

[2020-06-02 20:02] FinnWoelm commented on #8
Just wanted to follow up on this thread and say that as of the more recent `netlify-cli` versions, netlify dev comes with its own static server.

So you no longer need to bring your own and can simply remove `serve` and/or `http-server`. One package less, yay :)

[2020-06-02 21:47] nikshenoy commented on #10
If you can implement it within the library, that sounds like a good solution. I see what you mean with regards to pages that are static rendered. I have two comments:

1. The site I'm currently working on is all SSR right now; it's possible that we could move some things to SSG later, but it won't affect us in the short term. From a selfish perspective, it's not a big deal to me right now :-)

2.

[2020-06-04 20:58] FinnWoelm commented on #10
Hey @nikshenoy,

That sounds like a good use case! I'll try to turn it around this weekend :)

Regarding the use of `/preview?url=<target_url>`. Hmm, I guess you could do something like that. Although you won't get the magic of preview mode applying to your entire website. I mean, I guess you could conditionally change all your NextJS `<Link>`s depending on whether preview mode is enabled... But l

[2020-06-06 04:21] cassidoo opened #13 "next-on.netlify.com redirects with error to next-on.netlify.app"
When you go to https://next-on.netlify.com/, it redirects to https://next-on.netlify.app/ and shows the error:

[code]

I have a feeling this has to do with [this announcement from the team](https://community.netlify.com/t/changes-coming-to-netlify-site-urls/8918) about domains being moved to `.app`.

[2020-06-06 04:24] cassidoo commented on #13
Moving this to the example repo instead of this one!

[2020-06-06 04:24] #13 closed

[2020-06-06 05:39] cassidoo opened #14 "500 Errors with dynamic routes + getStaticProps"
I'm so excited about v2 of this library! Unfortunately I ran into a couple issues with it when trying to query an API based on a dynamic route.

Here's what my code looked like before with `getStaticProps` and using the new incremental stuff:
https://github.com/cassidoo/sonnet-18/blob/c91e5468e5524b773537a89b73fbd7632ea735e4/pages/compare/%5B...slug%5D.js

And it works great when I change it to us

[2020-06-06 12:59] FinnWoelm commented on #14
Hi @cassidoo,

It's great to hear from you! Thanks for checking out v2!

I actually read about you a few days ago, because I was looking at the top hits for "NextJS with Netlify" on Google and it's [your tutorial from May](https://www.netlify.com/blog/2020/05/04/building-a-markdown-blog-with-next-9.4-and-netlify/). Perhaps we can make one with `next-on-netlify`? :upside_down_face:

I forked sonnet

[2020-06-07 08:48] FinnWoelm commented on #10
Hey @nikshenoy,

I've got very exciting news: From what I can tell, Netlify just implemented support for `multiValueHeaders` and for setting multiple cookies from a Netlify Function. I just tested setting two cookies from a demo function and it worked.

I'm trying to find out right now if the support for `multiValueHeaders` and multiple cookies is stable (I'm assuming it is, but want to double che

[2020-06-07 13:52] nikshenoy commented on #10
That sounds great. And you're right about the magic of cookies for preview mode. I keep forgetting that it keeps that mode on as you're navigating. Thanks for the update!

[2020-06-08 21:02] cassidoo commented on #14
This makes sense!! I had to use the symbol because of a Next.js bug, so... bugs all around 😆

I do want to write some blog posts with this package, I think it's awesome. I'll try the colon thing and see how that works!

[2020-06-09 07:03] cassidoo commented on #14
@FinnWoelm, thanks so much for looking into this, it was all super useful! I redeployed everything, so now I have both the `getInitialProps` way and the `getStaticProps` way built:

https://sonnet-18.netlify.app/
https://sonnet-18-incremental.netlify.app/

Also, I do think that you were right about it being a minor bug in Netlify Functions, and I've told the team about it to try and get it fixed.

[2020-06-09 07:03] #14 closed

[2020-06-10 00:30] cassidoo commented on #14
@FinnWoelm update here. I noticed both in yours (and my) projects, when you use a repo that hasn't been compared before, you get a 500 error, and then you refresh and it works just fine. I can just output "null" and make the page say "please refresh!", but it kind of is a crappy experience for the whole incremental static regen thing. Any ideas?

[2020-06-10 16:18] ericchernuka opened #16 "Unmatched paths return Netlify page"
First off, love this project.

I have an issue, but I'm not sure if its this project's responsibility or next in general. In my project, I have a single route that's a fully dynamic route `/[businessUnit]/[pageSlug]/[hash]` and locally if you hit `/`, `/sales`, `/sales/qs` it returns the error page, but once deployed it shows the Netlify no route found message instead of the error page. Any though

[2020-06-10 20:24] wei opened #17 "Error decoding lambda response"
[code]
Related: https://community.netlify.com/t/error-decoding-lambda-response/16348

This issue started happening a couple days ago when netlify made an unannounced breaking change as seen in the ticket above.

The same repo I used in #9 is now broken without any changes.

Repo:
https://github.com/wei/next-on-netlify-demo-wei

Example:
https://relaxed-mirzakhani-568b34.netlify.app/api/debug/12345

[2020-06-10 21:15] #17 closed, assigned to nobody

[2020-06-12 06:43] FinnWoelm commented on #16
Hey @ericchernuka,

Thanks for the kind words about `next-on-netlify` :blush:

Hmm, interesting...

The `_redirects` file not having a redirect for `404.html` is normal and fine. Netlify automatically looks for a `404.html` in the publish folder and makes that the default 404 for the page.

Do you have a repo I can clone? Or could you set up a very basic one where I can reproduce the error? That w

[2020-06-12 16:00] ericchernuka commented on #16
@FinnWoelm Thanks for looking into this. I've made a sample repo here: https://github.com/ericchernuka/next-on-netlify-error-pages

I wonder if its cause I have a 404.tsx, but it gets compiled as a serverless function instead of 404.html.

[2020-06-12 21:40] FinnWoelm commented on #16
Hey @ericchernuka,

Thank you for setting up a repo! That was incredibly helpful.

Your suspicion is right: The issue is that the 404.tsx file gets compiled as a serverless function rather than a 404.html.

You probably know this already: You can see what NextJS builds by running `npm run build` locally and looking at the `.next` folder:

![image](https://user-images.githubusercontent.com/7606194/

[2020-06-12 21:42] FinnWoelm commented on #11
Hey @b2rsp,

I wanted to check in on this!

How are things going? Is this issue still relevant? Were you able to resolve it? Did you get a chance to put together a basic repo?

Look forward to hearing from you!

[2020-06-12 21:43] ericchernuka commented on #16
This is immensely helpful. Thank you. Due to the way my project works I need the getInitialProps in _app to fetch an overall theme first so I'll most likely move towards a catchall redirect for this use case. Thanks again looking into this for me.

[2020-06-13 16:51] #16 closed

[2020-06-16 03:20] Djepri opened #19 "How to create a function on Netlify using this v2?"
Hi,

I try to access this function
https://sonnet-18.netlify.app/.netlify/functions/github
but got 404
instead, the function created on Netlify is
https://sonnet-18.netlify.app/.netlify/functions/next_compare?repos=FinnWoelm%23next-on-netlify,cassidoo%23sonnet-18

Is this because of next-on-netlify v2 or multiValueHeaders change?

[2020-06-16 19:33] kevee opened #20 "Netlify Identity clientContext is not passed to API endpoints and pages"
When using API routes, it appears the `context` from Netlify is not passed to the page callback. This is important when [using Netlify Identity for authenticated endpoints](https://docs.netlify.com/functions/functions-and-identity/#access-identity-info-via-clientcontext).

[2020-06-17 12:48] kevee commented on #20
Closing, it ends up it's passed as a third argument.

[2020-06-17 21:16] FinnWoelm commented on #19
Hi @Djepri,

Great to hear from you!

I believe you are referring to https://github.com/cassidoo/sonnet-18? The github.js function (https://github.com/cassidoo/sonnet-18/blob/master/functions/github.js) and the next_compare.js function are actually not related.

`next-on-netlify` v2 now creates one Netlify Function for every page that requires server-side rendering (any page that uses either `getS

[2020-06-17 21:21] FinnWoelm commented on #20
Hi @keeve,

Is it really passing the Netlify `context` to the API route? I'm surprised about that actually! I never checked, but I had assumed that this was something we'd still need to implement. :open_mouth:

Well, great to hear!! I'll make sure to have a look at it soon and add an example to the demo repository!

Let me know if you run into any other issues. Happy hacking! :fire:
\- Finn

[2020-06-19 18:54] alxhghs commented on #19
I originally had a custom Netlify function but I didn't know about the pages/api feature, I like that a lot! Might not be bad to add a note about this in the readme, it's a very good solution to the problem.

[2020-06-19 19:42] alxhghs opened #22 "Client-side routing not working"
Hello! Thanks for all your hard work on this project.

Before V2 I used client-side routing but now I find that the links are not working. This applies to next/link as well as next/router.

Please let me know if there is any more information I can provide or anything I can do to help.

[2020-06-19 20:38] alxhghs commented on #22
I made a small demo repo and client side navigation is working fine. Closing this ticket.

[2020-06-19 20:38] #22 closed

[2020-06-20 00:35] Djepri commented on #19
That helps me a lot
Thank you very much

[2020-06-20 00:35] #19 closed

[2020-06-20 03:38] alxhghs opened #23 "Client-side navigation, react-hook-form and getInitialProps"
Hello,

I've been trying to figure this issue out for the last 7 hours or so, so I decided to finally post an issue.

Next-on-netlify has worked great for my site. I use it with Storyblok CMS. Recently with Netlify updates and the new next-on-netlify v2 there are some breaking changes which I have narrowed down to `getInitialProps`.

I have a Page (`Index.tsx`) that I export and use on other dynam

[2020-06-20 07:55] FinnWoelm commented on #23
Hey @alxhghs, great to see you again!

First of all, thanks for already diving into your code and narrowing down the problem! That is super helpful and absolutely appreciated!!

It sounds like there may be multiple issues coming together here. Client-side routing with `getInitialProps` should definitely work! As for `react-hook-form`, I have not used it myself, but that should work, too.

Is your

[2020-06-20 07:57] FinnWoelm commented on #11
Hi @b2rsp,

I'm closing this for now since it's been a bit over two weeks :slightly_smiling_face:

I hope you figured out a solution to the issue! If you did, it would be great to hear from you (and perhaps share a few insights for others who face the same issue in the future). If you are still facing the issue, feel free to reopen this at any time!

[2020-06-20 07:57] #11 closed

[2020-06-20 07:58] FinnWoelm commented on #22
Great to hear! :slightly_smiling_face: Look forward to tackling the issue with `getInitialProps` and client-side routing and `react-hook-form`!

[2020-06-20 08:05] FinnWoelm commented on #14
Hey @cassidoo,

Thank you for [the awesome `next-on-netlify` tutorial on Netlify.com](https://www.netlify.com/blog/2020/06/10/2-ways-to-create-server-rendered-routes-using-next.js-and-netlify/)! I've noticed an influx of new people taking a look and testing out `next-on-netlify` :slightly_smiling_face:

Did you get a chance to take another look at the error 500 issue? As far as I can tell, it's re

[2020-06-21 11:02] alxhghs commented on #23
Thanks for getting back to me! Unfortunately this site is a private repo but I did make an example repo. However, I tried to reproduce the issue and I wasn’t successful. There must be something else contributing to the issue that I haven’t been able to identify yet.

Interestingly I deployed the project using Vercel’s hosting service and both client side routing and react hook form work correctly

[2020-06-21 11:02] #23 closed

[2020-06-22 20:47] FinnWoelm commented on #19
Hey @Djepri, glad it helped! Do let me know if you run into any other issues at any point.

@alxhghs: Yes! I've really been wanting to update the demo repo and showcase the API feature there... will do soon!

[2020-06-22 20:48] FinnWoelm commented on #23
Hmmmmm, that's really bizarre! Well, I'm super curious what's going on there. So if you do ever find time to look into this again, I'd be more than happy to help and bug-hunt with you!

Until then, happy hacking :fire: :slightly_smiling_face:

[2020-06-26 06:20] scopsy commented on #10
Hi @FinnWoelm Any news about adding multiValueHeaders ? Anything I can help with?

[2020-06-26 06:28] scopsy opened #24 "Support experimental next.config.js redirects and rewrites"
First of all, thank you for the amazing work with this package!

Currently when defining experimental rewrites in `next.config.js` they are not respected in netlify and throw 404 error from netlify. Any chance they can be supported?

example of the config file:
[code]

[2020-06-26 06:33] FinnWoelm commented on #10
Hey @scopsy, thanks for following up on this! Good news: I actually finished writing the code yesterday :grin: I just did not have time to push and release. Doing that right now; give me ~15 minutes :)

[2020-06-26 06:34] scopsy commented on #10
You are awesome! 😍

[2020-06-26 07:01] #10 closed

[2020-06-26 07:04] FinnWoelm commented on #10
Alright, we are live!! :tada: :blush: `next-on-netlify` now supports NextJS Preview Mode as well as `multiValueHeaders`!

Let me know if you run into any issues :)

PS: @scopsy, I saw your issue regarding redirects! I will look into it this weekend and see what we can do :upside_down_face:

[2020-06-30 21:31] FinnWoelm commented on #24
Hey @scopsy,

Thank you for the kind words and for filing this issue to make `next-on-netlify` better :slightly_smiling_face:

I had a closer look at the [NextJS experimental syntax for redirects and rewrites](https://github.com/vercel/next.js/discussions/9081) as well as [the limitations that apply to redirects on Netlify](https://docs.netlify.com/routing/redirects/). There are a couple issues:

[2020-07-02 05:42] pablo1v opened #25 "Check if the configuration is a function."
It would be good to check if the user configuration is a function, as it is very common to use compose plugins ([next-compose-plugins](https://github.com/cyrilwanner/next-compose-plugins) for example) in next.js projects.

Ref: https://github.com/FinnWoelm/next-on-netlify/blob/8cca21a2a97c1c853316fed4ddf39c5daca72ee4/lib/getNextDistDir.js#L16-L24

[2020-07-16 19:34] moop-moop opened #26 "Why are Pre-rendered HTML or SSG pages given an entry in the _redirects file?"
The Netlify platform does file shadowing, where the static file is delivered first regardless:
https://docs.netlify.com/routing/redirects/rewrites-proxies/#shadowing

Example in _redirects:
`/health/en/kids/emily-story/article  /health/en/kids/emily-story/article.html  200`

I ask, because we are pre-rendering + SSG many thousands (15,000+) of pages. So the _headers files has an entry for each. Al

[2020-07-16 20:21] FinnWoelm commented on #26
Hey @moop-moop,

You are totally right about these redirect being unnecessary. I will change that this weekend :blush:

Do you have a suggestion for how to improve the build output? I do want to keep the build output, so that people know what's happening. Maybe we can limit each build step to print max 50 files. And passing the option `--debug` to `next-on-netlify` could be used to print all files

[2020-07-16 20:22] FinnWoelm commented on #25
Hi @pablo1v,

Sorry for the delayed reply! This is of course an excellent suggestion. I will implement that this weekend :blush:

[2020-07-16 21:51] moop-moop commented on #26
If redirect rules is not present, the logging won't be so long. 😉

I do want to keep the build output, so that people know what's happening. Maybe we can limit each build step to print max 50 files. And passing the option `--debug` to `next-on-netlify` could be used to print all files, if desired?

Excellent idea!, but I would limit any list to maybe 5 and say "X more entries.". `next build` sort

[2020-07-17 22:59] moop-moop commented on #26
Ahhh, my lists are so long, I just noticed the log out of the file copying too, not just the rewrite rules ....
[code]
I still think 5 is enough, if there is an option for all. Whatever makes my 16,000 line log smaller helps! 😄

[2020-07-18 14:32] pablo1v commented on #25
Thanks!!

[2020-07-19 17:45] FinnWoelm commented on #25
Fixed in freshly-released `next-on-netlify` v2.3.1 :blush:

Thank you again for filing this issue! Let me know if you end up building something awesome with `next-on-netlify`. I would love to feature it in the README: https://github.com/FinnWoelm/next-on-netlify#showcase

[2020-07-19 17:45] #25 closed

[2020-07-19 18:02] FinnWoelm commented on #26
Hey @moop-moop,

I removed all redirects for SSG & HTML pages that are using static routing. I also added a `--max-log-lines` option that defaults to 50 and can be used to limit the number of lines shown in each step of the build process (i.e., 50 SSR pages, 50 SSG pages, 50 redirects, ...). If you prefer 5 lines of output, just run `next-on-netlify --max-log-lines 5`.

Unfortunately, I encountere

[2020-07-19 19:47] pablo1v commented on #25
I don't see any problem. 😆

The idea of ​​the project is wonderful!
I am grateful that my suggestion was of great importance.

[2020-07-20 18:01] moop-moop commented on #26
@FinnWoelm
I understand. I have never tested that behavior with `netlify dev` or a live deploy for that matter. I don't see any Netlify documentation on what the behavior should be. There is also the Asset Optimization -> Pretty URLs feature, again which I have no idea if `netlify dev` employs or if it would impact testing for `next-on-netlify`
![image](https://user-images.githubusercontent.com/58

[2020-07-22 05:21] moop-moop commented on #26
Unfortunately, I am not sure https://www.npmjs.com/package/log-update is compatible with the Netlify logging. Locally it worked fine, but with `next-on-netlify --max-log-lines 5` on Netlify propper, I saw this:
[code]

[2020-07-23 20:22] FinnWoelm commented on #26
Oh, you are absolutely right. I wonder if there is a way to have an updating console.log on Netlify. I will look into it and report back asap!

[2020-07-23 23:09] moop-moop commented on #26
@FinnWoelm

Netlify support/engineering provided me with the following information about large numbers of redirects/rewrites:

What do you think of another special argument/flag to not write out static file redirects?

This would allow most users to ignore, and not notice the behavior difference (bug) you noticed in `netlify dev` and Netlify proper.
In my case, I would use with the understanding t

[2020-07-23 23:10] moop-moop commented on #26
I'll have 16-17k static files in one build for reference.

[2020-07-26 09:36] FinnWoelm commented on #26
Hi @moop-moop,

This is now fixed in the `reduce-redirects` branch! `log-update` is gone and next-on-netlify now uses a simple `console.log` at the end of each build step to indicate the number of hidden items, if any.

![Screenshot from 2020-07-26 10-50-09](https://user-images.githubusercontent.com/7606194/88475163-d0b19b80-cf2d-11ea-93dc-0bc3a10479e8.png)

I just filed an issue with Netlify abou

[2020-07-30 16:50] jordan-mcrae opened #27 "Custom Redirects Not Showing Up In Production Build _redirects File"
Hi there!

Thank you so much for this awesome utility. We have been loving it so far!

We're running into an issue where our custom redirects are showing up in our local build, but when deploying to Netlify, all we see are the `# Next-on-Netlify Redirects`.

Here's our netlify.toml file:

[code]

Here's our _redirect file in the root of our project that should redirect /test to our home page:

[co

[2020-07-31 06:15] FinnWoelm commented on #27
Hi @jordan-mcrae,

Thank you for the kind words! Happy that you like `next-on-netlify` :blush:

That is indeed strange! I just tried to reproduce the issue with a super minimal build, but without success.

Here is the repo: https://github.com/FinnWoelm/jordan-mcrae-next-on-netlify
Here is the the /test/ link that redirects: https://jordan-mcrae-next-on.netlify.app/test

Your project is not open so

[2020-07-31 14:46] jordan-mcrae commented on #27
@FinnWoelm Thank you so much for the elaborate response and for looking into this so thoroughly for me. Frustratingly,  package.lock ended up being the culprit. I was stuck at 2.0.0. I sincerely appreciate the help, and if there's any way I can buy you a coffee let me know!

[2020-07-31 14:46] #27 closed

[2020-07-31 15:24] FinnWoelm commented on #27
@jordan-mcrae hehe I know exactly what that feels like, because I've done that more times than I would like to admit :sweat_smile:  I'm really glad to hear that you were able to get to the bottom of it!

Thank you for the coffee offer. Much appreciated :raised_hands: There's no good way to do that at the moment, so perhaps you can just pay it forward :blush:

Let me know if you build [something aw

[2020-07-31 17:49] nejcukmar opened #28 "Root redirects to 404 when deploying / running netlify dev"
Don't know exactly if this is next-on-netlify issue or if it's related to netlify-cli.

Basically after running dev version on localhost or even deploying to netlify and visiting served page, you are automatically redirected to 404.

Here is how I managed to encounter a problem:
1. Cloning https://github.com/FinnWoelm/next-on-netlify-demo
2. Installing npm packages
3. npm run build
4. netlify dev

[2020-08-01 06:00] FinnWoelm commented on #28
Hi @nejcukmar,

Thanks for checking out `next-on-netlify` and thank you for your message.

The demo repository https://github.com/FinnWoelm/next-on-netlify-demo is not set up for local previewing with `netlify dev`. You have to do a few extra steps:

First, install the latest version of `netlify-cli` (currently, that's v2.58 — you can run `netlify --version` to confirm):

[code]

Then, add the fol

[2020-08-01 11:22] nejcukmar commented on #28
@FinnWoelm thaks for quick reply!

I am actualy using that setup. Tried it first on my project and got this issue, later also same thing happened with demo project.

Sadly same thing happens when I deploy a project to production on netlify.
Did some investigating yesterday but couldn't figure out a problem, will also try today.

Any info would be appreciated!

[2020-08-01 20:12] FinnWoelm commented on #28
That is very strange... I just cloned and re-deployed a fresh copy of the demo repo to see if I can reproduce the issue. But everything is working fine: https://next-on-netlify-demo-nejcukmar.netlify.app/ (repo: https://github.com/FinnWoelm/next-on-netlify-demo-nejcukmar)

Could you share your repo with me, so that I can have a look?

[2020-08-09 12:37] FinnWoelm commented on #28
@nejcukmar: Have you been able to resolve the issue?

I am happy to look into this for you. if you can share your repo with me, so that I can reproduce the issue! :slightly_smiling_face:

[2020-08-11 04:42] Djepri commented on #28
Hi @FinnWoelm,

How I can create a custom 404 page?
Tried to add 404.html on the public folder but said "Error: 'out_publish/404.html' already exists"

Thank you

[2020-08-11 06:03] FinnWoelm commented on #28
Hey @Djepri, great to see you again!

If you are using `next-on-netlify` v2 or higher, you can just customize `pages/404.js` and the 404.html page is automatically created for you.

See: https://nextjs.org/docs/advanced-features/custom-error-page#customizing-the-404-page

Let me know if that works for you :)

[2020-08-11 07:01] Djepri commented on #28
Oh, thank you that's very helpful, sorry for bothering you with a silly question.
I need to see the documentation carefully in the future :D

[2020-08-11 15:30] nejcukmar commented on #28
@FinnWoelm sorry for late reply. Thanks for your interest in solving this!

Anyway I gave it another go today and it worked flawlessly with demo repo. I tried to add it to my own nextjs project but I was still experiencing the same problem (maybe it got cached somehow last time and displayed the same issue on demo project, so that's why it didn't work).

After further investigation I noticed that

[2020-08-12 18:31] FinnWoelm commented on #28
@Djepri: No worries! Always happy to help :)

@nejcukmar: Awesome that you figured out what the issue was! It's hard for me to guess what the issue with the public folder was. `next-on-netlify` copies the contents of the `public/` folder to `out_publish/public/`. It's possible that one of the files in your`public/` folder had the same name as one of the static files being written by `next-on-netli

[2020-08-12 19:24] #28 closed

[2020-08-15 10:40] hrahimi270 opened #31 "Accessing public folder files?"
Hi there.
I'm using `next-i18next` for translations. The locale files are stored in `public/translations`.
As far as I know, Next automatically [servers the public folder](https://nextjs.org/docs/basic-features/static-file-serving), and it should have access to it!
When I deploy the project to Netlify, it seems the application does not have access to files. This is the error that shows me:
[code]

[2020-08-17 13:06] #31 closed

[2020-08-17 20:49] colinappnovation opened #32 "Packaging Functions from out_functions directory never ends?"
"Packaging Functions from out_functions directory:" - seems to never end or take very long with Netlify cancelling build...

9:29:51 PM: Packaging Functions from out_functions directory:
9:29:51 PM:  - next_createlivefeedback/next_createlivefeedback.js
9:29:51 PM:  - next_feedbacksurvey_0introductionpage/next_feedbacksurvey_0introductionpage.js
9:29:51 PM:  - next_feedbacksurvey_11corevalues/next_

[2020-08-19 19:04] FinnWoelm commented on #31
Hi @hrahimi270,

Were you able to figure everything out?

[2020-08-19 19:09] FinnWoelm commented on #32
Hi @colinappnovation,

That's definitely not how it should be! For those 13 minutes (from 9:29 to 9:42), is it packaging function after function or is it getting stuck somewhere for a long time?

I'm also surprised to see so many serverless functions. Generally, you can expect to see one serverless function per page — do you actually have this many different pages or do you just have a couple of p

[2020-08-19 22:50] Tanner-Scadden opened #33 "Issues with sequelize"
I love your guys package and really enjoy using netlify and nextjs with an api.

I've ran into an issue where I can't build using this package when I also am using sequelize. I am wondering if I am able to get some help or possibly contribute to this package to get it working.

`ModuleNotFoundError: Module not found: Error: Can't resolve 'pg-native' in '/opt/build/repo/node_modules/pg/lib/native'`

[2020-08-20 06:36] FinnWoelm commented on #33
Hi @Tanner-Scadden,

Happy to hear that you are enjoying Netlify and `next-on-netlify`! :blush:

I have a suspicion that this is an issue with `pg-native` not getting bundled into the functions. Is there any chance I can have a look at your code on GitHub or could you create a minimal repo to reproduce the issue? Then I am more than happy to get to the bottom of this and find out how we can fix it

[2020-08-20 08:59] colinappnovation commented on #32
Hi @FinnWoelm ,

Thank-you for your reply. I have not tried to debug as yet but have tried it locally through Netlify Build, and its 9 minutes with 12 cores and dedicated machine. So must be getting stuck or alike.

We do have that many pages ;) Unfortunately it is a client project, so cannot share code. Which I know is not very helpful.

[2020-08-20 23:14] Tanner-Scadden commented on #33
Thank you for getting back so fast!

https://github.com/Tanner-Scadden/broken-sequelize-netlify

Here is a repo I made to reproduce the issue. The issue didn't happen in the build until I added the next.config.js file and the build was targeted towards serverless. I've been able to deploy this to vercel and have everything working before, so I know its possible. I'd love to get it working correctl

[2020-08-21 06:51] hrahimi270 commented on #31
Hi @FinnWoelm.
I solved my problem by updating the `next-i18next` package. In its previous version, I needed to set up a custom Nodejs server. And set the path for my translation files manually to the public folder. But in its new version, it doesn't need that. It moved the config to `next.config.js` and the problem solved.

[2020-08-27 18:18] FinnWoelm commented on #26
Hey @moop-moop,

The netlify dev issue that was blocking this branch from merging into master was just resolved: https://github.com/netlify/cli/issues/1017

Once the updated version of netlify-cli is released, I will merge this branch into master :tada:

Thanks for your patience!

[2020-08-28 10:02] pgr86 commented on #16
Hi Finn,
I have a similar issue and followed your instructions with option number two. I added the mentioned code to the netlify.toml file. Now it renders my custom 404 page, instead the netlify not-found page. But the response status code is still 200. I made several tests - seems to me that it is not possible to change the response of a netlify function within the _redirects or netlify.toml file

[2020-08-28 12:56] FinnWoelm commented on #16
Hi @pgr86, interesting! You are right, setting the status to 404 via the netlify.toml file does not work for Netlify Functions.

### Fix 1: Manually set 404 in getInitialProps in _app.js

I would have expected the Next 404 page to take care of setting the 404 status code. I think this is a bug in NextJS. Anyway, we can fix this ourselves by manually setting the 404 status in `getInitialProps` in `

[2020-08-28 14:13] pgr86 commented on #16
Hi @FinnWoelm
wow thank you so much for that detailed answer! I went the pre-render way and it works really well :-)
This approach is also very helpful for me to better understand how next-on-netlify works under the hood.

Thanks so much for your great work on this package!

[2020-08-28 14:36] moop-moop commented on #26
Thank you for all your work and effort! 🥇

[2020-08-29 00:06] Jshanks21 opened #34 "Trying to Troubleshoot 404 render for a dynamic page with next-on-netlify"
Hello, my team currently has a project that's using Netlify to host the production build. However, we've been been getting 404 errors when trying to access the content (it's a dynamic route created when users upload videos.)

We were trying to use next-on-netlify to troubleshoot this issue, but after modifying the config files and updating the build we began receiving this error:

3:46:04 PM: ./no

[2020-08-29 08:52] FinnWoelm commented on #34
Hi @Jshanks21, interesting.

When you say that it's a "dynamic route created when users upload videos", what do you mean? Do you have a page with dynamic routing (e.g., `/pages/videos/[id].js`) that uses `getServerSideProps` or `getInitialProps` to fetch the video? Similar to this page https://next-on.netlify.app/getServerSideProps/305 ([view source code](https://github.com/FinnWoelm/next-on-netli

[2020-08-29 08:53] FinnWoelm commented on #33
Closing this for now! Happy to reopen anytime if need be :)

[2020-08-29 08:53] #33 closed

[2020-08-31 14:14] joostmeijles opened #35 "Support for incremental SSG"
It seems that next-on-netlify current does not support incremental SSG (https://nextjs.org/docs/basic-features/data-fetching#incremental-static-regeneration).

Are there any plans to support this?

[2020-08-31 21:40] cassidoo commented on #35
This package actually does support it, to an extent!

Here's a demo:
https://sonnet-18-incremental.netlify.app/

You can use these URLs in the box there for the demo:
https://github.com/cassidoo/next-netlify-starter
https://github.com/netlify/next-on-netlify

Here's the code for it:
https://github.com/cassidoo/sonnet-18/blob/static-props/pages/compare/%5B...slug%5D.js

Do you have any other questi

[2020-09-01 05:43] s-kris commented on #33
[code]

Above regex excludes 'Nativescript' module for typescript based code.

Here's a fix:

[code]

[2020-09-02 09:45] joostmeijles commented on #35
Can you please elaborate to what extent there is support?

Is there for example only support for the `unstable_revalidate` (https://github.com/cassidoo/sonnet-18/blob/f3f21bcb3b27bbfbdcac73c8798eb4c951ded06a/pages/compare/%5B...slug%5D.js#L48).

In my test `revalidate: 1` did not generate a serverless function.

[2020-09-05 09:10] FinnWoelm commented on #34
Hey @Jshanks21, is this still relevant? I'm happy to help! :heart:

Otherwise, I'll close it for now (and we can reopen if need be).

[2020-09-05 09:15] FinnWoelm commented on #32
Hi @colinappnovation,

Is this issue still relevant? Were you able to figure it out? I'm happy to help! :heart:

Otherwise, I'll close this issue for now (and we can reopen it if need be)

[2020-09-06 01:40] Jshanks21 commented on #34
Hi @FinnWoelm,

So sorry for the delay in my response! We were able to get it working again by switching from netlify to vercel. That said, your solution may also have solved our issue. But this was the quickest solution we were able to find at the time. I'm still fairly new to Next.js and joined this project after a lot of the server side stuff was already set up, so there are probably a lot of p

[2020-09-06 06:11] FinnWoelm commented on #26
Good news: The fix was merged into `netlify/cli`! I just merged `reduce-redirects` into master and released it as `next-on-netlify` v2.4.0 today! :tada:

If you're previewing locally, make sure to use `netlify/cli` v2.62.0 or higher.

I will close this for now — feel free to reopen at any point. Happy hacking! :fire:

PS: I'll keep the `reduce-redirects` branch up until October 6th. Make sure to s

[2020-09-06 06:11] #26 closed

[2020-09-06 06:15] FinnWoelm commented on #2
I know it's been a while, but I wanted to share a quick update:

I finally wrote a fix for `netlify/cli` that picks up the `404.html` from the `/out_publish` folder (matching the behavior of netlify.com). This was merged into `netlify/cli` a few days ago. The latest `next-on-netlify` (v2.4.0) no longer generates a `404.html` at the project root! :blush:

[2020-09-06 06:47] gamliela commented on #2
Unbelievable! great news, thank you very much :)

[2020-09-06 13:17] FinnWoelm commented on #34
Hey @Jshanks21,

I'm sorry that it did not work on Netlify, but I'm glad you got it to work on Vercel :blush:

I spent a few hours looking into it. The error actually occurs during `next build` — before `next-on-netlify` does anything. Errors during `next build` (with target `serverless`) are usually a hint that there is some problem related to your dependencies. When compiling for serverless, Nex

[2020-09-07 07:53] lednhatkhanh commented on #20
@kevee Do you have example code, I couldn't make it to work, the third argument in Next.js API route is always undefined for me, even if I'm logged in.

[2020-09-07 15:21] LukasOchmann opened #36 "Adding Support for Custom Netlify Functions"
As mentioned in the Readme. I need support for custom netlify functions.
It would at least help to move every thing from "/functions" to the "/out_functions".
Which i will do myself as an Workaround.

[2020-09-09 21:00] joostmeijles commented on #35
I created a #37 to explore the option of adding incremental static regeneration.

[2020-09-10 05:14] zhangyuang opened #38 "access ssr framework for serverless"
whethter consider use https://github.com/ykfe/ssr for developing a serverless side render application quickly which is more in line with  serverless than next.js

[2020-09-10 06:10] FinnWoelm commented on #20
@lednhatkhanh: I had a closer look and it's not possible with the current production branch. The clientContext object is **not** passed to NextJS. I want to change that, but I need to do a bit more work to make sure it works well and is tested, etc... In order to make this work, we need to fork and modify one of our dependencies. So it's a bit of a bigger task. I'm reopening this issue.

For now,

[2020-09-10 06:13] FinnWoelm commented on #38
Hi @zhangyuang, thanks for your issue. I have to admit that I do not quite understand what you are asking/proposing. Do you want to share a bit more?

[2020-09-10 06:15] FinnWoelm commented on #36
Hey @LukasOchmann! Awesome, we will add that asap. It will probably work like this:

[code]

So in your case, it would be:
[code]

What do you think of that solution? Would that work for you?

[2020-09-10 06:16] zhangyuang commented on #38
thanks for your reply。whether netlify consider use https://github.com/ykfe/ssr as netlify serverless ssr framework。maybe it's lightweight than next.js

[2020-09-10 08:02] cassidoo commented on #38
Thanks for pointing out this framework! This isn't relevant to this package in particular, though. If you'd like to make a package using your ssr framework, the Netlify team will be happy to check it out.

[2020-09-10 18:54] ekfuhrmann commented on #36
I too am looking for Custom Netlify Function support to help migrate in GraphQL data. I think the solution proposed here works well, though since Netlify mentions placing the `functions` directory in the root, perhaps it's worth just checking if there is already a `functions` directory and use that, otherwise people can specify the path?

[2020-09-12 15:56] s-kris opened #40 "req.headers.host is undefined on netlify deployment"
I'm trying to read the host in getServerSideProps. It works in local environment with
next dev (obviously)
next build && netlify dev

However when deployed on netlify with this plugin,
req.headers.host is undefined. Any info on this? Thank you.

[2020-09-13 11:31] FinnWoelm commented on #32
I'm closing this for now, but happy to reopen at any time!

[2020-09-13 11:31] #32 closed

[2020-09-13 17:18] FinnWoelm commented on #40
Hi @s-kris, thanks for posting the issue!

Hmm, you are right. I just tested with a plain Netlify Function to see what information is available:

[code]

See results here: https://next-on-functions.netlify.app/.netlify/functions/print

Seems like host **is** available on `headers`, but **is not** available on `multiValueHeaders` (which is used by `next-on-netlify`). But we can manually add the hos

[2020-09-13 17:33] s-kris commented on #40
Awesome, thank you @FinnWoelm

[2020-09-14 07:32] colinappnovation commented on #32
Hi @FinnWoelm,

Sorry for the late response on this. Putting 🔥 out on other things. Well things have been only resolved by 30 minute build window on Netlify. Things are now creeping up 23 minutes for a build. In comparison, ran the build and export on Vercel and was taking 3 minutes - though Vercel is built for Next so not really a comparison.

So issue is still apparent, just been alleviated by b

[2020-09-16 19:11] FinnWoelm commented on #35
Hey @joostmeijles,

You are right — there is currently no support for incremental static regeneration (ISR).

Ideally, pages with ISR should be statically pre-rendered and then re-rendered upon request at the provided revalidation interval. This is currently not possible, because we can only either have a static page or have a page that is server-side rendered. Netlify is investigating and researc

[2020-09-16 19:34] FinnWoelm commented on #32
Hey @colinappnovation, that sounds like a plan!

For context: Every single of your pages ends up becoming a separate serverless function that are anywhere from 1MB to 10MB (or more) in size, because all of the page's dependencies get bundled inline into the JS file. Each of those pages is then zipped and uploaded to Amazon AWS ("packaged"). And so with 100s or 1000s of pages, that will take a whil

[2020-09-18 18:52] joostmeijles opened #41 "Preview: Catch-all page at root level catches requests for NextJS static assets"
I have the following (minimal) example:
[code]

When I run this example using `netlify dev` I get an invalid getStaticProps parameter value for `slug`: `_next,static,chunks,pages,[...slug]-0ab994ad29aa8a4f0aaa.js`.

The full output is:
[code]

Is this a bug?

NB. the `<Link>` element is necessary to trigger the behaviour.

[2020-09-18 20:29] FinnWoelm commented on #41
Interesting scenario!

You have a catch-all route at root-level — it catches all paths: /whatever/path/...

The request at `[request] /_next/static/chunks/pages/%5B...slug%5D-0ab994ad29aa8a4f0aaa.js` is where NextJS is trying to load the page's code. If you look under `out_publish/_next/...`, you should find this JS file. But rather than loading the code file, the request is being re-routed to the

[2020-09-19 11:25] joostmeijles commented on #41
I am using the following `netlify-cli` version: `netlify-cli/2.63.2 darwin-x64 node-v13.7.0` and created this https://github.com/joostmeijles/next-on-netlify-catchall-bug mini repo.

The site is deployed here: https://friendly-babbage-dcd353.netlify.app/, but I don't know how to see the same logging.

[2020-09-19 20:31] FinnWoelm commented on #41
That's a bug in netlify dev! `reqUrl.pathname` should be wrapped in `decodeURIComponent()` in:

https://github.com/netlify/cli/blob/c4ce6bba298ab3c7deb0d5b409e9c36ff21fd3da/src/utils/proxy.js#L149

You can create an issue or PR in netlify dev, if you want. A quick workaround in the meantime is to add a custom redirect to your NextJS app by adding a `_redirects` file to your project root:

[code]

[2020-09-19 20:36] cassidoo commented on #35
Thanks so much for this work @joostmeijles and @FinnWoelm! This is so exciting to get even more support for ISR. Are there any other gaps that need to be filled to get this better supported?

[2020-09-19 20:41] cassidoo commented on #41
I'll make a PR for this @FinnWoelm, thanks for finding that!!

[2020-09-19 20:51] FinnWoelm commented on #41
Awesome! :raised_hands: :blush: I already have a sample repo https://github.com/FinnWoelm/netlify-uri-bug, in case it's helpful.

[2020-09-20 13:32] erezrokah commented on #41
The CLI fix is released in the [latest CLI version - v2.63.3](https://github.com/netlify/cli/releases/tag/v2.63.3), thanks @cassidoo and @FinnWoelm. Please let me know if you're experiencing other issues.

[2020-09-20 22:30] leomeneguzzi commented on #40
Hi @FinnWoelm, do you have some update about it?

[2020-09-21 04:15] leomeneguzzi commented on #40
Hi, I open a really simple PR that solves this issue. I need to do this to my project, just in case my PR be useful to you, I opened the PR. Case not, just close it.

[2020-09-21 19:01] joostmeijles commented on #41
Tested, works as a charm!

Thanks for the prompt fix over the weekend 🚀

[2020-09-21 19:01] #41 closed

[2020-09-29 16:38] joostmeijles commented on #35
@cassidoo I think Netlify stale-while-revalidate support is needed to fully support ISR.

[2020-09-30 06:41] Yegair commented on #40
We are currently running into this issue and it prevents us from using next-on-netlify in production, do you have an ETA when this is going to be merged and released?

[2020-09-30 13:25] Yegair opened #43 "Page chunk for catch-all page at root level is evaluated/rendered on the server"
Hello,

First of all thanks for the great work with next-on-netlify, highly appreciated!

---

### What is wrong?

If have a custom app which makes use of SSR via `getInitialProps`.

`pages/_app.jsx`:
[code]

Also I have a catch-all page which is used as the index page and as a fallback if there is no matching page for the current route (obviously).

`pages/[[...any]].jsx`:
[code]

When I access t

[2020-10-01 00:04] abdelhamid-attaby commented on #40
@FinnWoelm can we solve this issue quickly? Our whole business depend on it :)

[2020-10-01 05:09] #40 closed

[2020-10-01 05:49] FinnWoelm commented on #40
Hi all, sorry for the delay in getting this out the door! We were busy refactoring a lot of the codebase last week.

@lindsaylevine just merged the fix into `main`. The changes should be published to npm within the next 24 hours. If you prefer not to wait, you can already use the latest changes by running npm install netlify/next-on-netlify#main --save. This will give you the cutting-edge version

[2020-10-01 05:54] FinnWoelm commented on #43
Hi @Yegair,

Thank you for your kind words and for this detailed issue report! I think you are absolutely right — it's probably related to issue #41.

@lindsaylevine is already in touch with the team that manages the Netlify redirects/rewrites feature, to see if they can dig into the issue. We will keep you and everyone else posted here!

For now, it's best to use the "no-op redirect" you mentione

[2020-10-01 09:25] s-kris commented on #40
@FinnWoelm @lindsaylevine That's great to hear. Looking forward to new major features. (hint: pure next-inc-ssg support)
Thanks for your awesome work!

[2020-10-02 08:15] amuttsch opened #45 "Broken redirects with optional catch-all route at top-level in pages/"
### What's wrong

With version `2.4.0` `yarn run build` produces the following (correct) `out_publish/_redirects` file:

[code]

Using `2.5.0` the sorting has changed, and the catch all rules are before the specific ones:

[code]

We can see the `/*` catch route is before the `/api` route. Additionally, there is a new (and possible invalid) redirect.

Now the requests to `/api` are routed to `/` a

[2020-10-02 11:23] abdelhamid-attaby opened #46 "req.headers['x-forwarded-host'] is undefined on netlify deployment"
This issue is exactly the same issue statued here #40 but with `x-forwarded-host` header.

[2020-10-02 11:36] FinnWoelm commented on #45
Hey @amuttsch, thanks for filing this issue and for your detailed report!

This one is totally my bad! :grimacing: :see_no_evil:  Looks like I missed this scenario when we did a major refactor last week. You have an optional catch-all route at project root, is that right? @lindsaylevine and I will fix this tonight and make sure to add a test, so it doesn't happen again in the future!

We'll keep y

[2020-10-02 12:05] amuttsch commented on #45
Hi Finn,

yes I do have a root level catch all route, it also happens if I have a separate `index.jsx` and a `[any.jsx]` file.

Thanks for your quick reply, I'm looking forward for the fix :-)

[2020-10-02 21:24] FinnWoelm commented on #45
Turns out that I actually introduced not just one, but two bugs during the refactoring! :grimacing: But I think we got it figured out and #47 will fix that :raised_hands: :raised_hands:

If you're in a hurry, you can already try out the new code by running `npm install netlify/next-on-netlify#fix-broken-redirects`. Otherwise, I think we'll get this reviewed, merged, and deployed shortly :slightly_

[2020-10-02 22:19] #45 closed

[2020-10-02 22:34] lindsaylevine commented on #46
thanks for pointing this out! there's an internal netlify PR open as of 7 hours ago to address the original issues you referenced (regarding req.headers.host) and my hope is the internal PR can cover `x-forwarded-host` as well. will keep you updated!

[2020-10-02 22:39] lindsaylevine commented on #46
update: it seems like `x-forwarded-host` is the same as `host` so i'm not sure this needs to be added

https://vercel.com/docs/edge-network/headers#x-forwarded-host

[2020-10-04 00:31] miamollie opened #48 "Error during build step `index.html already exists`"
Hi there,

Thanks for the great project!

I've encountered this error while building a prod version of my nextJS app (dev version is fine):

`Error: 'out_publish/index.html' already exists`

I first saw this in the netlify CI, but was able to reproduce locally too. I have already followed the instructions [here](https://github.com/netlify/next-on-netlify#preview-locally).

You can see my repo [her

[2020-10-04 03:07] pedrobullo commented on #48
Downgrade to v2.4.0, should fix for now. :(

[2020-10-04 10:35] FinnWoelm commented on #45
Hi @amuttsch, this issue should be resolved now :blush: :fire: Let us know if you have any more trouble and thanks again for reporting!

[2020-10-04 11:07] FinnWoelm commented on #48
Hey @pedrobullo,

Thank you for the kind words! And sorry about the issue :scream:

There are some differences between v9.4 and v9.5 of `next`, that affect the serverless page generation. At the moment, `next-on-netlify` is focused on providing support for the latest version of NextJS. Do you mind upgrading to v9.5.3? I have already created a PR for you: https://github.com/miamollie/plantnow/pull/

[2020-10-05 00:01] #48 closed

[2020-10-05 00:07] miamollie commented on #48
Hi @FinnWoelm  @pedrobullo ,

Thanks for looking into this for me and for the upgrade fix. That did the trick!

I might not be able to contribute a fix for the issue, but I'd certainly be happy to help with documentation if you need more hands. Might I suggest for now including the supported version as part of your caveats?

[2020-10-05 07:24] amuttsch commented on #45
The fix looks good, thanks for the quick response! :-)

[2020-10-05 12:56] mraerino commented on #43
@FinnWoelm i'm curious: why wouldn't you add that `/_next/* /_next/:splat 200` rule to the redirects file in the build process of next-on-netlify?
it seems to always be a good idea right?

[2020-10-05 18:45] FinnWoelm commented on #43
Hi @mraerino, thanks for checking this out! Really appreciate your help!

All redirects generated by `next-on-netlify` are **non**-force redirects, so they should **not** shadow existing files. This always works correctly, except in the case where the asset has a square bracket in its filename. Then the URL gets shadowed even though a local file exists!

In fact, the URL only gets shadowed/rewritt

[2020-10-05 18:57] mraerino commented on #43
thank you for pointing out that detail. seems to be something we'd want to fix in the future. i'll make sure to open an internal issue.

would there be a way to publish that file without special characters for now?

[2020-10-06 04:58] abdelhamid-attaby commented on #46
@lindsaylevine the documentation you posted is about Vercel. `x-forwarded-host` is used mainly in proxies which is the case I am in now.

[2020-10-06 13:32] lindsaylevine commented on #46
@abdelhamid-attaby gotcha, i hear you! i linked the vercel docs primarily as an example. it's the same on netlify. for good measure i synced back with the team and internally we don't want to make the `x-forwarded-host` change because you _should_ be able to use `host`. if you can demonstrate a specific need for `x-forwarded-host` that `host` does not resolve, i'd be happy to explore further for y

[2020-10-06 19:22] FinnWoelm commented on #43
Hey @mraerino, that's awesome to hear!! :raised_hands: :blush:

We can't publish it without special characters (it's created that way by the framework and there are a lot of internal references to those files with square brackets), but I think we will do the `/_next/*  /_next/:splat 200` thing as you have suggested!

Thank you again for looking into this :)

[2020-10-07 15:42] depadiernos commented on #40
Just wanted to add here that I added the 'host' header to the multiValueHeaders object for functions on the netlify-side of things. It's currently being deployed but should be live on our regular CDN and will be live on our Enterprise CDN soon.

[2020-10-08 08:07] abdelhamid-attaby commented on #46
@lindsaylevine thanks for taking this seriously. Mainly our setup now as following: [caddyserver](https://caddyserver.com/) (as a proxy and ssl certificates manager) -> Netlify . So, in order for Netlify to understand the website, caddy should put the `host` header to be the upstream address (which is the Netlify address in this case). However, in the application itself, we need to know the origin

[2020-10-09 12:45] lindsaylevine commented on #46
@abdelhamid-attaby of course! and i hear you. are you comfortable opening a PR? swamped with other priorities at the moment, but if this is a blocker/priority for you, that's probably the best way to get it addressed asap :)

[2020-10-11 05:33] cajotafer commented on #36
Sounds like a good option @FinnWoelm , I am doing something similar manually and it works:
[code]

[2020-10-14 01:16] brenelz commented on #46
Might be able to just fix it doing something like the following. It seems like you removed the code from issue #40 tho

[code]

[2020-10-14 01:51] lindsaylevine commented on #46
@brenelz yeah we took it out because it was only in next-on-netlify as a temporary patch. host is now provided on multiValueHeaders by netlify internally. however, whenever i've synced with the internal team who made that change, they insist `host` should suffice for `x-forwarded-host` and don't want to make that specific change internally.

are you experiencing this issue too @brenelz?

[2020-10-14 01:54] brenelz commented on #46
no not experiencing the issue... was just trying to help out. Happend to just try out the next-on-netlify package though and its pretty slick. Keep up the good work!

[2020-10-14 05:30] lindsaylevine commented on #46
yk what there's really no harm in adding it. will open a PR now since i have a minute! cc @abdelhamid-attaby

thanks for the kind words @brenelz <3 it's all @FinnWoelm

[2020-10-14 13:52] garrypolley opened #55 "Prisma does not seem to get rhel binary in functions"
I've been following this example and it works on "standard netlify" : https://github.com/garrypolley/deployment-example-netlify

I'm attempting to use next as well on a private site `API ID: c076fc19-1890-4dd6-b610-1b57342b8c39`

Whenever any attempt to query the database is made I get the following error:

[code]

I believe this is because the rhel binary is not shipping inside the bundled functi

[2020-10-14 18:47] FinnWoelm commented on #55
Hi @garrypolley,

I think your assessment of the issue (rhel binary not shipping) might be exactly right. We've seen this kind of issue before when using packages that rely on binaries/native code. NextJS' strategy for creating serverless functions is to inline the code from all dependencies into a big JS file. That works really well, except when binaries are involved.

Given that everything works

[2020-10-14 19:06] garrypolley commented on #55
@FinnWoelm I appreciate the feedback.

Here is a basic repo that does work: https://github.com/garrypolley/deployment-example-netlify.

[2020-10-14 19:11] FinnWoelm commented on #55
Yap, that's super helpful already! What I want to do next is to create a version that uses `next-on-netlify`. And then we can try manually adding `require("prisma...` into the Netlify Function that `next-on-netlify` creates in `out_functions` and see if that changes anything!

So for this test case, we would **not** run our build command on netlify.com. We would instead locally run `next build` &

[2020-10-14 19:27] garrypolley commented on #55
@FinnWoelm I can confirm the `out_functions` do not get the binaries at all locally when I run.   I think the code only grabs `.js` files when I looked at the source. https://github.com/netlify/next-on-netlify/blob/main/lib/helpers/setupNetlifyFunctionForPage.js#L11-L35 (I may be wrong)

I used a custom build plugin:

[code]

this copied them to the `out_functions` in each function.

[code]

At th

[2020-10-15 01:58] #46 closed

[2020-10-15 10:45] rizkyramadhan opened #56 "Error: Cannot find module 'next-aws-lambda' when using yarn 2"
"Cannot find module 'next-aws-lambda'\n" +
    'Require stack:\n' +
    '- C:\\Users\\Riz\\Desktop\\basey2\\out_functions\\next_api_hello\\next_api_hello.js\n' +
    '- C:\\Users\\Riz\\scoop\\persist\\nvm\\nodejs\\v14.10.1\\node_modules\\netlify-cli\\node_modules\\lambda-local\\build\\lambdalocal.js\n' +
    '- C:\\Users\\Riz\\scoop\\persist\\nvm\\nodejs\\v14.10.1\\node_modules\\netlify-cli\\src\\

[2020-10-15 18:48] lindsaylevine commented on #56
hey @rizkyramadhan, thanks for filing this! what command(s) are you running that lead you to seeing this local error?

[2020-10-15 21:41] BrandonKlotz opened #57 "Set custom function route for Netlify identity hooks"
Hi, I was wondering if there is a way to set functions as custom routes that will be picked up by Netlify's identity hooks.

The function that is produced in `next-on-netlify`:
![Screen Shot 2020-10-15 at 5 14 34 PM](https://user-images.githubusercontent.com/19940878/96188744-3ef27280-0f0d-11eb-8d5f-6b9d5f4eb24d.png)
- This is a Next.js app deployed with Next on Netlify (https://github.com/Brandon

[2020-10-15 22:02] FinnWoelm commented on #55
Hey @garrypolley, thanks to your excellent repo, I was able to reproduce the issue and behavior!

I understand the issue now; brace yourself for a brief rollercoaster — and a beautiful solution at the end :blush:

# Rollercoaster 🎢

When NextJS creates the serverless functions for the API endpoints, it hardcodes the names and even paths of the prisma binaries into the function code. That obviously

[2020-10-16 00:41] garrypolley commented on #55
Thanks @FinnWoelm this fixed it entirely.

Using the config

[code]

This is great, and I'm glad it was this easy to fix. I'm appreciative of the time you've taken here! Consider this done.

[2020-10-16 01:03] garrypolley commented on #55
This change does seem to make it slower to deploy.
From about 1 minute 30 seconds (on average) to about 2 minutes and 30 seconds (on average) so far with the same code -- but using the experimental trace part.

[2020-10-16 01:09] rizkyramadhan commented on #56
netlify dev,

or just push to the repo and let netlify CD deploy my app

[2020-10-16 01:26] rizkyramadhan commented on #56
FYI, I'm on windows 10. But I think netlify environment is in linux., and this happens on both env.

[2020-10-16 01:42] lindsaylevine commented on #56
hmm ok. not sure what's going on without really seeing the context. are you able to create a repo that reproduces this issue?

[2020-10-16 02:51] garrypolley commented on #55
For future developers that may google their way here. There is an issue (October 15 2020) where Prisma needs to be disconnected after all calls on _any_ function. Your lambda will timeout otherwise.

You'll need to do.

[code]

For details see: https://github.com/prisma/prisma-client-js/issues/540

[2020-10-16 07:32] lindsaylevine commented on #57
hey! thanks for opening this :). glad you found the custom netlify functions caveat/related issue. it's high on my list of priorities to support and will be included in the next major release. a _potential_ workaround if you really needed it would be to build with the CLI, copy your custom function into out_functions and then deploy that.

1. `netlify deploy --build`
2. copy identity-signup.js int

[2020-10-16 23:17] BrandonKlotz commented on #57
@lindsaylevine so I was trying to follow the steps you have to deploy from the CLI but also new to using Netlify CLI, so a lot of today I learned's but wasn't able to copy over the identity-signup into `out_functions` (I tried also taking this folder out of my `.gitignore`.

Thinking about this as a feature, it would be kind of interesting not change the file names in the same way we change api ro

[2020-10-17 00:09] BrandonKlotz commented on #57
Made a work in progress/draft pull to work on this idea https://github.com/netlify/next-on-netlify/pull/60

[2020-10-17 01:45] BrandonKlotz commented on #57
The good news, I think it is closer to working! 🎉

<img width="403" alt="Screen Shot 2020-10-16 at 9 44 21 PM" src="https://user-images.githubusercontent.com/19940878/96325779-d54f9280-0ff8-11eb-90e7-f6dadb09fe33.png">

The other good news, I am about to learn how to write a working Netlify function 🤣

[2020-10-17 13:08] BrandonKlotz commented on #57
So I found out why I was running into some weirdness.

Steps to fixing:
1. Found similar [issue here](https://github.com/vercel/next.js/issues/9643)
2. `yarn add micro@canary`
3. Chose canary `9.3.5-canary.3`
4. Commit and push those changes
5. Then build and deploy from Netlify CLI so I can use the local version of `next-on-netlify`

After signing up, the trigger event function properly ran!

<im

[2020-10-18 13:07] lucasconstantino opened #61 "Static HTML Export"
While this project solves pretty much everything I would need from a product point of view, the fact it heavily relies on Netlify functions - even for routes that could benefit from static exporting - makes the outcome potentially expensive once you reach Netlify's limits for function execution.

I'm wondering if it would be possible easily combine the benefits of both approaches. The idea would b

[2020-10-18 23:20] lucasconstantino commented on #61
By the way: I made a very similar project targeting specifically API Routes usage on static exported sites running on Netlify: [`next-export-api`](https://github.com/lucasconstantino/next-export-api)

[2020-10-19 07:59] lindsaylevine commented on #57
hey @BrandonKlotz! thanks so much for working on this :). i'm going to be super distracted this week likely with other priorities but will try to check in on your progress/PR.

[2020-10-19 08:02] #55 closed

[2020-10-19 13:19] BrandonKlotz commented on #57
Sweet! As I understood better what I needed, #60 is a quick out-of-the-box way to support the Netlify Event Trigger Functions for those using `next-on-netlify`.

The feature people have requested of custom function routes likely could also achieve the needs I have here, I could see that being the solution that eclipses this feature proposal. I had a lot of fun learning about this package through t

[2020-10-21 11:00] lindsaylevine commented on #57
@BrandonKlotz sorry been swamped. i think you're right @ custom functions, which is Coming Soon TM. i'm glad you had fun working with next-on-netlify and trigger functions!!! :) we'd be lucky to have you contribute tests or contribute in general to the project!

[2020-10-21 12:44] #57 closed

[2020-10-21 14:10] joostmeijles commented on #35
It seems that ISR somehow stopped working on the Netlify CDN.

The serverless (SSR) functions complete but do not return and therefore result in a timeout after 10 seconds.

For example:
[code]

@FinnWoelm @cassidoo any clues  ?

[2020-10-22 18:56] FinnWoelm commented on #35
@joostmeijles things are still working on my end! The last release is 20 days old, so there shouldn't have been any change sincethen.

Is it possible that you use some sort of third party library that keeps a connection open? Last week, @garrypolley reported something like this when using Prisma: https://github.com/netlify/next-on-netlify/issues/55#issuecomment-709698860

Otherwise, happy to have

[2020-10-22 19:01] joostmeijles commented on #35
Possibly! Will dig a bit deeper 🙂

[2020-10-22 19:04] FinnWoelm commented on #35
Okay, sounds good! Quick test would be to add a super simple page without any `import`s and seeing if that works.

Something along the lines of this:

[code]

[2020-10-24 06:52] abdelhamid-attaby commented on #46
Thanks, @lindsaylevine, really appreciated your help. I am sorry I was so busy opening this PR.

[2020-10-27 07:30] lindsaylevine commented on #56
hey rizky! following up here since this has been open for a little while :) any update? otherwise, we'll close this issue due to inactivity.

[2020-10-29 00:11] zaarheed opened #66 "Error enabling offline persistence with Firebase Web SDK and SSR"
I am trying to use the Google Firebase Web SDK (Firestore, Storage and Analytics) on a Next.js project hosted on Netlify with `next-on-netlify`.

I have some pages strictly using Firebase Firestore APIs once the page has loaded, and other pages are using Firestore APIs within the `getServerSideProps()` function. Still inconclusive, but it appears that the pages using Firestore within `getServerSid

[2020-10-29 06:35] FinnWoelm commented on #66
Hi @zaarheed,

Thanks for taking the time to post this issue and for the detailed description!

Can you try to use `target: "experimental-serverless-trace"` rather than `target: "serverless"` in your `next.config.js`? It should look like this:

[code]

The reason is that Firebase contains native binaries. In serverless-target mode, Next.js tries to inline all dependencies which does not work with

[2020-10-29 15:54] zaarheed commented on #66
@FinnWoelm thanks for your thorough response.

I made the change in `next.config.js` and the `Error enabling offline persistence.` messages have stopped being printed in the function logs now.

However, trying to load a page that uses `getServerSideProps()` is still timing out with the message:
[code]
Pages that do not use `getServerSideProps()` load and execute Firebase calls from the client fine

[2020-10-29 20:10] kristapsPelna opened #68 "Functions fail when using Firebase Admin SDK"
Functions fail when using Firebase Admin SDK.
When I am requesting data from firestore using firebase admin SDK, I get this error:

(node:14684) Warning: protos.json not found in any of the include paths \protos,\protos
(Use `node --trace-warnings ...` to show where the warning was created)
Error: ENOENT: no such file or directory, open 'protos.json'
    at Object.openSync (fs.js:466:3)
    at Obj

[2020-10-30 09:10] lindsaylevine commented on #66
hey @zaarheed ! glad finn was able to try help out yesterday. have you seen this thread/comment? https://community.netlify.com/t/netlify-function-timeout-after-10-seconds-when-published/18220/5

seems like this is possibly unique to firebase <-> netlify functions. not sure. if that doesn't happen to help, i think the best next step for me and finn to be helpful would be for you to share a repo wit

[2020-10-30 09:13] lindsaylevine commented on #68
hey @kristapsPelna ! saw you post on a thread on our community forum. sorry you're experiencing these issues! this is the first i'm learning of firebase <-> netlify functions issues, and another person just opened a firebase issue here on next-on-netlify yesterday as well.

as i asked them: did you happen to see this thread/solution? https://community.netlify.com/t/netlify-function-timeout-after-1

[2020-10-30 09:34] zaarheed commented on #66
@lindsaylevine thanks for sharing that link!

Similar to the [post I found on the Netlify forums](https://community.netlify.com/t/firebase-error-in-next-js-netlify-function/22547/2), that developer is using `firebase-admin` within a Netlify Function/Lambda rather than `firebase/firestore` via the JavaScript Web SDK inside `getServerSideProps()`.

I suppose the underlying issue might be the same. I

[2020-10-30 09:47] kristapsPelna commented on #68
@lindsaylevine Thanks for the reply, but unfortunately that is a different issue.
The problem in the mentioned thread refers to getting correct results, but not getting a proper response as the function times out.

In my situation the function fails with an error mentioned above and doesnt even reach the end of the function where I would be able to call `admin.app().delete()` (which fixes their pr

[2020-10-30 09:51] kristapsPelna commented on #68
This is a test function that I've been using.
file:
`pages/api/test.ts`
[code]

[2020-10-31 21:10] FinnWoelm commented on #66
Hey @zaarheed, happy that we're moving in the right direction!

### Minimal Repo

I made a super minimal repo to reproduce the issue: https://github.com/FinnWoelm/next-on-netlify-firebase
Here is my page using `getServerSideProps` and firebase: https://github.com/FinnWoelm/next-on-netlify-firebase/blob/main/pages/test.js

I was able to reproduce your error regarding the function timeout. This seem

[2020-10-31 22:06] FinnWoelm commented on #68
Hey @kristapsPelna,

thanks for posting your function code! That's super helpful.

I created a minimal repo to reproduce the issue: https://github.com/FinnWoelm/next-on-netlify-firebase

Here is my API endpoint with Cloud Firestore: https://github.com/FinnWoelm/next-on-netlify-firebase/blob/main/pages/api/test.js
The function in action is here: https://next-on-netlify-firebase.netlify.app/api/test

[2020-11-01 09:20] kristapsPelna commented on #68
Hey @FinnWoelm,

Thanks for the suggestion!
It works like a charm locally when I do `next build` and then `next start`.
But unfortunately it fails when running on Netlify.
The build step for building the Netlify functions took almost 9min
`(@netlify/plugin-functions-core onBuild completed in 8m 42.2s)`
And failed in the end with `Request must be smaller than 69905067 bytes for the CreateFunction o

[2020-11-01 10:41] FinnWoelm commented on #68
Hi @kristapsPelna,

Hmm... There is a 64MB limit for each Netlify Function (imposed by AWS Lambda). I don't think this is related to API endpoint using firebase-admin that you shared above (since that works here: https://github.com/FinnWoelm/next-on-netlify-firebase/blob/main/pages/api/test.js). The two functions took 50 seconds to package (`@netlify/plugin-functions-core onBuild completed in 52.1

[2020-11-01 13:52] adamthewan opened #69 "Build on Netlify takes too long until it timeouts"
Building my package locally using `yarn build` only takes 90 seconds, with the `out_functions` folder only being 12mb large and `out_publish` being 68mb.

However, the Netlify deployment process will take a total of 27 mins to complete:

[code]

Running `zip-it-and-ship-it out_functions zipped_functions` creates a folder called `zipped_functions` which is 1.55gb large! It creates 21 zip files (one

[2020-11-01 15:58] FinnWoelm commented on #69
Hi @adamthewan,

Thanks for sharing these details! It looks like it's really the Netlify Functions (bundling and uploading to AWS lambda) that is slowing down the build.

Unfortunately, as far as I am aware, there is not much we can do on the `next-on-netlify`-side. `next-on-netlify` just wraps the Next.js page into a 2kB-handler to make it compatible with Netlify Functions.

Some questions/sugges

[2020-11-02 03:44] adamthewan commented on #69
Hey @FinnWoelm , thanks for the reply!

1. Yup I am using `target: "experimental-serverless-trace"`. This is because I'm using `firebase` and for some reason runs into issues using `target: "serverless"`.

2. This is a good suggestion. Just took a look, looks like the biggest files are:

[code]

Will research more on how to make these packages imported dynamically with NextJS.

3. Agreed on this s

[2020-11-02 11:01] #56 closed

[2020-11-02 11:02] rizkyramadhan commented on #56
Sorry, closed this for now, I decided to host on my on server without `serverless` function

[2020-11-02 12:11] adamthewan commented on #69
Hey @FinnWoelm , thanks for the suggestions. We're now dynamically loading a lot of our packages, and it seems to have made things better! The build time is not only 8 mins without cache, and about half once we have the build cache.

[2020-11-02 12:11] #69 closed

[2020-11-02 15:35] lokmanm opened #70 "Support for Next/Image"
Hello everyone, as you might already know Next now has a new [Image Component](https://nextjs.org/docs/api-reference/next/image) and I was thinking if its possible to support it on Netlify ?

At our company we are very tight with the whole Netlify ecosystem, we use Netlify CMS and we use Netlify for publishing almost everything that we have & we cant afford to switch to Vercel just for this compon

[2020-11-02 18:57] FinnWoelm commented on #69
Great to hear that! 😊

Hopefully, there will be a hybrid serverless mode some day that inlines most dependencies, but allows to keep the dependencies with binaries separate. For example, there is no need to bundle 60MB of material-ui when you're only using a couple MUI components on the page. The standard `serverless` figures out what you are really using and inlines only that code. With `experime

[2020-11-02 19:33] victorhqc opened #71 "i18n fails to build"
Hello 👋

I noticed that I can't build my site when using the new i18n feature. I built dummy repository in which I reproduce the issue.

[code]

Te repository that reproduces the issue can be accessed [here](https://github.com/victorhqc/serverless-i18n), just run the following

[code]

It is a standard next.js application using:

- next: `10.0.0`
- next-on-netlify: `2.6.0`

Something interesting t

[2020-11-02 20:12] kristapsPelna commented on #68
@FinnWoelm Thanks for the reply.
I checked that most of my functions are 50-76 MB when doing the zip-it.
It also works just fine on a really simple project.
Looks like as a project grows bigger the more dependencies it has and then all of the dependencies the page uses the heavier the functions get.
For me the ones that are 64+MB are the ones which are created from `getServerSideProps`, while the

[2020-11-05 11:53] lindsaylevine commented on #71
hey @victorhqc thanks so much for reporting this and for the repro repository 🙏 it seems like in next 10, when i18n is included in your next config, the statically generated html now sits in a different folder in the build directory (under each locale), instead of at the path where next-on-netlify is currently looking and erroring aka `.next/serverless/pages/hello.html`. it's now `.next/serverless

[2020-11-07 17:22] emmbyiringiro commented on #66
Hello,

I followed the thread and try  to implement the fix. unfortunately when I change target from `serverless`  to `experimental-serverless-trace`  build fail with following last log traces:

...

- 7:04:57 PM: (Netlify Build completed in 2m 29.1s)
- 7:04:57 PM: Caching artifacts
- 7:04:57 PM: Started saving node modules
- 7:04:57 PM: Finished saving node modules
- 7:04:57 PM: Started saving bu

[2020-11-07 19:01] lindsaylevine commented on #66
hey @emmbyiringiro. sorry you're running into this :(. it's a known issue and we're looking at ways to address it. for now, check out this comment on a similar issue:

https://github.com/netlify/next-on-netlify/issues/68#issuecomment-720067929

[2020-11-07 23:29] thomas159 opened #73 "running next build and lamba function in same project"
I have a netlify-lambda function that generates an api.js file into out_functions and then I run the next build and this erases the contents of the out_functions folder removing my api.s file and populates it with the nextjs functions. Is there anyway to change the folder directory or another way around this to  prevent it overwriting my other file?

[2020-11-08 14:40] emmbyiringiro commented on #68
@lindsaylevine , thanks for quick feedback, with `zip-it-and-ship-it`  I build and bundle my app and found 2 zipped files  49MB and 39MB respectively. By downgrade Next from V10 to 9.5 as @FinnWoelm  recommended the bundled files size shrink to  4MB and 5MB respectively 🤯  and now built and deployed successfully.

It seems that Next latest version  has large bundle builds and hope you will work on

[2020-11-08 19:10] FinnWoelm commented on #73
Hi @thomas159,

Great to hear from you! Welcome to `next-on-netlify` 👋

You are referring to the `out_functions` folder? That's the folder where `next-on-netlify` creates its functions. (`out_publish` is for the static assets and pre-rendered pages).

Currently there is no built-in way to add custom functions to the ones generated by `next-on-netlify`. What you can do is to copy your `api.js` file

[2020-11-10 01:59] etrepum commented on #70
The absolute simplest thing you could do today would be to use imgix, akamai, or cloudinary as an image optimizing CDN. Yeah, it's not provided by Netlify, but you also don't have to change how anything is deployed.

The Netlify options don't seem very low friction. There is [Netlify Large Media Transformations](https://docs.netlify.com/large-media/transform-images/) but it requires that you set u

[2020-11-11 19:49] georgekpc commented on #71
One way to get this working is with Netlify redirects. It's a hacky, not elegant and maintanable at all approach however it gets the job done.

[2020-11-11 20:18] lindsaylevine commented on #71
@georgekpc @victorhqc i'm currently working on this alongside some other work, hoping to have a PR open by end of week

[2020-11-13 06:58] afzalsayed96 commented on #43
Hi @FinnWoelm,

I'm facing this issue when I have something like `pages/index.js` & `pages/[...rest].js`.

The temporary `/_next/* /_next/:splat 200` fix does not get applied in this case as it is not considered root level catch-all route.

The redirects generated are
[code]

[2020-11-13 08:42] afzalsayed96 opened #76 "You cannot define a route with the same specificity as a optional catch-all route"
I have the following page structure:

[code]

Command `build` runs successfully but running `next-on-netlify` spits out the following error:

[code]

[2020-11-13 09:38] thomas159 commented on #73
thats great thanks alot, I actually found out there is a built in api with nextjs so I am using that :)

[2020-11-13 09:42] lindsaylevine commented on #43
@afzalsayed96 looking into this, thanks for reporting!

[2020-11-13 15:00] lindsaylevine commented on #43
#77 re-addresses this :)

[2020-11-13 15:00] #43 closed

[2020-11-13 16:21] wpmonty commented on #7
Are there any plans to change the Fallback behavior and cache the results of SSR?

[2020-11-14 04:44] antonygunawan94 opened #79 "Can't deploy nextjs on netlify throw new Error(`'${dest}' already exists`) at /opt/build/repo/node_modules/fs-extra/lib/copy-sync/copy-sync.js:62"
Hello,
I have followed the instructions in readme.md but got this error

`11:18:41 AM: /opt/build/repo/node_modules/fs-extra/lib/copy-sync/copy-sync.js:62
11:18:41 AM:     throw new Error(`'${dest}' already exists`)
11:18:41 AM:     ^
11:18:41 AM: Error: 'out_functions/next_glossarium_slug/next_glossarium_slug.js' already exists
11:18:41 AM:     at mayCopyFile (/opt/build/repo/node_modules/fs-extr

[2020-11-14 04:55] cassidoo commented on #79
Hey! Do you have a repo or anything we can look at to debug a little further?

[2020-11-14 05:00] antonygunawan94 commented on #79
yes but it is private, I'll invite you to the repo

[2020-11-14 06:33] antonygunawan94 commented on #79
I think the cause of this is the fallback param in getStaticPaths because when I switched to getServerSideProps in works just fine

[2020-11-14 12:26] lindsaylevine commented on #79
@antonygunawan94 can you add me as well?

[2020-11-14 15:08] FinnWoelm commented on #76
Hi @afzalsayed96,

Welcome to next-on-netlify! 👋

Thanks for the detailed error description and page structure. The error you receive is intentional: You have an index route `/index.js` and an optional-catch all route (`/[[...rest]].js`) which are in conflict with one another because both map onto requests for `/`.

If you want the index route to render on requests for `/`, change the optional cat

[2020-11-14 15:31] afzalsayed96 commented on #76
Hey @FinnWoelm,

I do not have an index page explicitly defined. My pages directory looks like this.
[code]
Instead `getStaticPaths` inside `[[...rest]].js` returns 2 paths `'/'` and `'/careers'`. Going by the [docs](https://nextjs.org/docs/routing/dynamic-routes#optional-catch-all-routes) and [this comment](https://github.com/vercel/next.js/issues/10488#issuecomment-628672419), I feel this is a v

[2020-11-14 16:23] lindsaylevine commented on #76
hey @afzalsayed96 i hate to ask but can you open a repro repo for us 🙏

[2020-11-14 16:57] ChrisBAshton opened #80 "netlify.toml redirects aren't obeyed"
Situation: I was trying to allow requests to `/random` to be proxied to `/api/random`.

I edited my `netlify.toml` to add this:

[code]

But ended up getting this output under `out_publish/_redirects` (i.e. the custom proxy wasn't registered):

[code]

I tried creating a `_redirects` file instead:

[code]

This was being picked up in the output 🎉

[code]

However, requests to `/random` continued t

[2020-11-14 17:00] ChrisBAshton opened #81 "Request: allow `out_functions`/`out_publish` directory names to be configurable"
I spent quite some time editing my `netlify.toml`, trying to consolidate the outputs into one folder with subfolders, i.e.:

[code]

I ran `npm run build` and was confused that it would still output to `out_functions` and `out_publish` folders. Then I realised [these are hard-coded](https://github.com/netlify/next-on-netlify/blob/1f1373eacc3d5ba8b5f1c44334516b5aa3588573/lib/config.js#L6-L10) and c

[2020-11-14 18:24] antonygunawan94 commented on #79
hello,
I think I will close this issue because I've already found the solution by switching to server side rendering
thank you so much to netlify team for the quick responses

[2020-11-14 19:34] afzalsayed96 commented on #76
https://github.com/afzalsayed96/netlify-nextjs-repro
Here you go @lindsaylevine

<details><summary>Also here's full error log:</summary>

[code]
</details>

I realized that this happens only when `fallback` is set to `true`.

[2020-11-14 19:48] lindsaylevine commented on #80
ahhhh @ChrisBAshton thanks so much for opening this!!! i don't know when that snuck into the README but no, you are 100% right, we do not support toml-based redirects. it's a known issue on an internal list i keep. so sorry you spent time confused on that. for now, i'll update the README, and i'll leave this issue open so i can update you when this finally gets addressed.

[2020-11-14 19:52] lindsaylevine commented on #81
yes and yes.

it is currently on our agenda to support custom netlify functions which would happen to fulfill your request!

and yes, in the meantime, i will update the README along with the fix from your other issue :)

thanks so much again for opening these! we appreciate it <3

[2020-11-14 21:08] lindsaylevine commented on #81
updated!

[2020-11-14 21:08] #81 closed

[2020-11-15 12:08] TejasQ opened #82 "Redirects returned from getServerSideProps are not obeyed 😢"
Hi!

I've got a Next app on Netlify and it works amazing! Thank you for your great work! I've had no problems thus far, _except_ with the following syntax:

[code]

Which returns the error on Netlify:

[code]

The real frustrating thing is – this works great locally when running `next dev`, _and even works great when running a site built with `next-on-netlify` via `netlify-cli`_, but breaks when a

[2020-11-15 12:28] lindsaylevine commented on #82
@TejasQ thanks so much for the kind words and thorough issue <3! glad next-on-netlify has been helpful for you so far :). hm, this is the first i've [personally] seen of a redirect being returned from gSSP so let me dig a little and we'll make sure to get a test covering this use case with whatever PR we open. will keep you updated!

[2020-11-15 17:20] lindsaylevine commented on #79
ok let us know if you change your mind. your source code and more context would help us potentially diagnose this for other next-on-netlify users :). our best!

[2020-11-16 07:54] ChrisBAshton commented on #80
Thanks for the quick response, @lindsaylevine! 👍

[2020-11-17 15:06] ehmicky opened #86 "Improve speed by parallelizing I/O"
Most of the logic from `next-on-netlify` is I/O read/write operations. Those are currently performed serially. Performing those in parallel instead would significantly improve performance.

A queue should probably be used so that the OS max limits on open files is not reached,

[2020-11-17 15:09] ehmicky opened #87 "Run tests on Node `10.13.0`"
Node `10.13.0` is the minimal version supported by Next.js 9/10.
However, the CI tests currently run Node `10.17.0`. They should run `10.13.0` instead.

[2020-11-17 15:11] ehmicky opened #88 "Add Windows support"
Related: https://github.com/netlify/netlify-plugin-nextjs/issues/21

CI tests should be run on Windows as well, to ensure this plugin works for Netlify CLI users who run `netlify build`.
Many of our CLI users are on Windows (example: https://github.com/netlify/next-on-netlify/issues/56#issuecomment-709670418).

[2020-11-17 19:25] ehmicky commented on #87
Fixed by #91.

[2020-11-17 19:46] #87 closed

[2020-11-18 15:36] lindsaylevine opened #95 "Discussion: inlining next-aws-lambda vs fixing upstream and other alternatives"
stakeholders: @FinnWoelm @ehmicky

This issue is to publicly discuss an internal discussion around inlining next-aws-lambda.

Original issues with depending on next-aws-lambda:
1. plugin dependency issue (https://github.com/netlify/netlify-plugin-nextjs/issues/10) (this is being addressed internally)
2. miscellaneous user-reported issues

To move forward and relieve some tension with these open is

[2020-11-18 16:12] ehmicky commented on #95
Thanks for opening this @lindsaylevine!
For information, this is the [link to `patch-package`](https://github.com/ds300/patch-package).

I think opening PRs upstream to solve those problems in `next-aws-lambda` would be better since it could benefit the greater Next.js community as you mention. Also, the current inlining would require any update of the two inlined files in `next-aws-lambda` to be

[2020-11-18 16:58] erezrokah opened #96 "Feature: add watch mode"
Related to https://github.com/netlify/next-on-netlify#optional-extras

Since a manual build step is required before running `netlify dev` changes to the Next.js site won't get picked up by Netlify CLI until the next build is run.

It would be nice to add a watch mode so `out_functions` and `out_publish` are automatically refreshed by Netlify CLI.

[2020-11-18 19:25] ehmicky opened #97 "Improve logs when Functions/publish directories are specified"
When `publishPath` is specified, we should not print:

https://github.com/netlify/next-on-netlify/blob/66cc4cee77d035e1713ff27e7c3c7475e71b4093/lib/steps/prepareFolders.js#L9

since this is most likely taken from the site's already configured publish path, and the user would expect that to be used.

When `functionsPath` is specified, we should not print:

https://github.com/netlify/next-on-netlify

[2020-11-19 03:57] FinnWoelm commented on #95
Hmmm! Good points! I see the strong benefits of opening PRs upstream!

**How about the following proposal:** We continue with inlined next-aws-lambda for now, which is already 95% done and allows us to fix the two remaining compatibility-layer-related issues #82 and #20 asap. As we go on, @lindsaylevine and I will periodically check for updates made to next-aws-lambda ([source code](https://github

[2020-11-19 04:03] FinnWoelm commented on #95
PPS: I am **personally** very interested to learn more about the patch-package approach (even though I think for the sake of next-on-netlify, we should continue with inlining `next-aws-lambda` for now and then reevaluate in a couple months based on how our experience goes).

I've used and suggested patch-package to users before (see #20), but the workflow was never really smooth for the end user a

[2020-11-19 12:54] ehmicky commented on #95
This is a very pragmatic approach @FinnWoelm, love it! :heart:

[2020-11-20 02:14] FinnWoelm commented on #95
Ok 😊 PS: Your work and improvements to next-on-netlify and the Next.js plugin are AMAZING 🎉 🙌 🙌

[2020-11-20 02:22] FinnWoelm commented on #80
Hi both!

If it's okay, I'm going to close this issue, since the misleading comment in the README has been removed.

By the way, redirects from `netlify.toml` do actually work. But they are processed **after** redirects created by `next-on-netlify`. So, in your case, where you have a catch-all redirect generated by `next-on-netlify`, it would not reach the custom redirect you created in `netlify.t

[2020-11-20 02:22] #80 closed

[2020-11-20 05:04] FinnWoelm commented on #82
Hi @TejasQ,

Thanks for the detailed report and for pointing this out!

Could you try upgrading to `next-on-netlify` v2.6.3 (latest) and see if that fixes the issue with redirects in `getServerSideProps`? I just ran a test and it seems to work. Our internal test suite is still fixed to Next v9.5 (because there are some bugs with Next v10 related to preview mode, that we are waiting to resolve befo

[2020-11-20 13:55] phbernard opened #98 "getServerSideProps fails for certain values, probably related to URL encoding or slashes"
In `getServerSideProps`, some values accessible via `context.params` are sometimes wrong.

In particular, **the behavior of next-on-netlify differs from local and Vercel**.

# To reproduce the issue in a few seconds, on Netlify and Vercel

The [demo app](https://github.com/phbernard/next-on-netlify-demo-app) is deployed. You can play with various values to check the outcome.

* Vercel :
    * http

[2020-11-23 12:58] fverloop opened #99 "Preview mode broken in Next 10.0.2 with target: "serverless": TypeError: e[t] is not a function"
Since we've switched to the latest version of next (10.0.2), [preview mode](https://nextjs.org/docs/advanced-features/preview-mode) has been broken. Everything builds successfully, but when we load our `/api/preview` endpoint we get the following error:

[code]

[2020-11-23 18:03] ehmicky commented on #97
Fixed by https://github.com/netlify/next-on-netlify/pull/100

[2020-11-23 19:57] #97 closed

[2020-11-23 20:07] ehmicky commented on #88
Fixed by https://github.com/netlify/next-on-netlify/pull/101

[2020-11-24 02:46] FinnWoelm commented on #99
Hi @fverloop,

Thanks for flagging this! I recently tried to switch to Next v10 for our next-on-netlify tests and noticed that all the preview-related tests were indeed failing. From my understanding, this seems to be a bug in Next.js that affects `target: "serverless"`, specifically it happens in the code where Next.js looks for the jsonwebtoken code/module.

You can solve this by switching to `t

[2020-11-24 09:49] fverloop commented on #99
Thanks for the detailed answer! I've tried switching to `experimental-serverless-trace` but this causes our build to fail because: `Build exceeded maximum allowed runtime`. It now takes more than 30 minutes to build our site. Build time has already gone up significantly (from 5 to 10 minutes) because it needs to generate the preview functions. 10 minutes is long, but we could live with that, 30 mi

[2020-11-24 11:57] #88 closed

[2020-11-25 04:41] lindsaylevine commented on #98
hey @phbernard thanks so much for opening such a detailed issue! we _super_ appreciate it, and it's made it much easier to start diagnosing. unfortunately it isn't immediately clear to us, even with the perfect reproduction, why this is happening so we'll keep you updated <3.

[2020-11-25 13:02] ehmicky opened #102 "Error when copying `.next/static/`"
The [following build](https://app.netlify.com/sites/musing-williams-ddf07a/deploys/5fbe2f8513b0cd35556060e0) fails with:

[code]

The problem seems to be there:

https://github.com/netlify/next-on-netlify/blob/42b1444fd54f1bd3c0e04b802ac3295a319473ba/lib/steps/copyNextAssets.js#L11

This specific build does not have a `.next/static/` directory, so trying to copy it fails.
I am not sure whether thi

[2020-11-25 14:31] lqze commented on #99
@FinnWoelm I'm experiencing the same as @fverloop but I can't even get `experimental-serverless-trace` to build on Netlify, its failing when trying to package the functions
[code]

I'll raise a separate issue about this..

[2020-11-25 15:14] lindsaylevine commented on #98
@phbernard update!! we identified the issue internally. a PR is open but unfortunately it's considered "low risk" week here due to the holiday so it wont be rolled out until next thursday. i'll let you know!!

[2020-11-25 16:00] ehmicky commented on #99
@lqze This is probably a separate issue. I think the error message should indicate a way to solve this:

[code]

`konva` should be added to your site's top-level `package.json` (and not a `package.json` in a sub-directory).

[2020-11-25 21:37] lqze commented on #99
@ehmicky Yeah this is definitely something funky with Netlify..

It is in my app's root `package.json` now.

After adding it to my app `npm i konva` I'm getting the following.

[code]

It's as if it cant resolve any deps or something in the opt folder? Or it's not able to correctly path to it?

[2020-11-25 22:50] mraerino commented on #98
this is a detailed update on the bugfix: https://community.netlify.com/t/bug-fix-url-encoding-preserved-in-function-event-not-released/27080
you will hear about the rollout there first, but i will also update here.

[2020-11-26 12:28] ehmicky commented on #99
@lqze This issue appears to be separate from the one initially reported by @fverloop.
Would it be possible to create a separate issue, so we don't lose sight on @fverloop's problem. Thanks!

[2020-11-30 01:45] lqze opened #103 "`next-on-netlify` fails to build peer dependencies in deployment"
The following error occurs.

~This occurs despite adding the required packages it specifies in the top level `package.json`.~
Update: Adding all packages via `npm i` to top level `package.json` seems to resolve, however build-size becomes too large for Netlify's lambdas to succeed.

I'm using `react-spring` with TypeScript, I believe this is an issue with the types for react-spring potentially

FY

[2020-11-30 14:34] TejasQ commented on #82
Thank you! This is fixed!

[2020-11-30 14:34] #82 closed

[2020-11-30 14:35] TejasQ commented on #71
How?

I need this functionality to satisfy a client. 😬

[2020-11-30 17:36] lindsaylevine commented on #71
@TejasQ do you want to try to install https://github.com/netlify/next-on-netlify/pull/75 this branch (`ll/i18n`) in your project in the meantime? its not fully functional at the moment (see comments) but it's in progress and trying to get it shipped asap.

[2020-11-30 17:38] TejasQ commented on #71
Yes! I asked if we could get a prerelease out there. https://github.com/netlify/next-on-netlify/pull/75#issuecomment-735823858

[2020-11-30 17:41] lindsaylevine commented on #71
@TejasQ ah so sorry missed it when i saw justin's longer comment 💀 will address that comment!

[2020-12-02 04:29] s-kris commented on #55
Thank you for the fix @garrypolley @FinnWoelm
Yes, my build time went from 2 minutes to 5 minutes after using experimental. Can we reduce the build time somehow?

[2020-12-02 09:33] lindsaylevine commented on #103
hey @lqze! so sorry you're running into this. it's definitely an issue we've seen around. can you try change your target in next.config.js to `experimental-serverless-trace`? @FinnWoelm does a great job of explaining how it could help [here](https://github.com/netlify/next-on-netlify/issues/66#issuecomment-718393699). let me know if that fixes your issue!

[2020-12-02 14:20] s-kris opened #104 "Using target: "experimental-serverless-trace" config breaks the styles of the site"
I'm working with prisma for my site and ran into rhel binary issue.
Fixed it as mentioned here: https://github.com/netlify/next-on-netlify/issues/55

The site's styles break with netlify deployment.
I tested the same codebase as a nodejs app deployment on my ec2 instance where the styles are rendered correctly.

[2020-12-02 14:27] lindsaylevine commented on #104
@s-kris hey! would you mind opening a quick repo that reproduces this? would help a bunch!

[2020-12-02 15:53] s-kris commented on #104
Sorry, I tied to recreate the bug with minimal chakra-ui repo, I'm not able to reproduce the bug.
I'll dig deeper in my main project later.

[2020-12-03 06:02] lindsaylevine commented on #103
@lqze so sorry! i just realized you had already tried `experimental-serverless-trace` in https://github.com/netlify/next-on-netlify/issues/99; i'd lost sight of that connection. in that case, can you open a repo that reproduces your issue or add me to a repo where the issue is occurring? thanks so much!

[2020-12-03 06:04] lindsaylevine commented on #73
awesome @thomas159! will close this then :).

[2020-12-03 06:04] #73 closed

[2020-12-03 12:06] davetayls commented on #35
I am trying to get this working for a project and am finding that the pages are always hitting the function and are not being cached at the CDN. Is that the behaviour you are finding?

[2020-12-03 12:17] joostmeijles commented on #35
That’s the expected behavior. It currently basically works the same as SSR
pages.

Op do 3 dec. 2020 om 13:06 schreef Dave Taylor <notifications@github.com>

[2020-12-03 23:01] lqze commented on #103
@lindsaylevine All good, I'll try get a minimal repo set up that brings up the issue. Thanks.

[2020-12-05 18:32] mrpaulphan commented on #102
Has this been resolved? I'm also having the exact same issue.

[2020-12-08 10:26] saschazar21 opened #108 "[i18n] non-default locales in sub-path-routing lacking redirects"
I came across a bug, where automatic redirects based on a non-default locale result in an HTTP status 404.

While the project builds just fine, it seems the `i18n` routes are not properly redirected using the `_redirects` file. They all end up in an HTTP status 404. The i18n-configuration in `next.config.js` is the following:

- locales: `[en, de]`
- defaultLocale: `en`
- use automatic sub-path-ro

[2020-12-08 17:21] mashaalmemon opened #109 "Ability to specify custom directories for static and function output."
**Is your feature request related to a problem? Please describe.**

Would love to be able to set the function output and publish path to something I choose vs 'out_functions' and 'out_publish'

**Describe the solution you'd like**

Would like to be able to specify the publish/function output directory so I can structure my project directory that way I'd like to.

**Describe alternatives you've con

[2020-12-08 19:14] moop-moop commented on #26
I added next-on-netlify 2.6.3 to new project and it's creating a redirect in the _redirects for every static page again?
This is a problem with tens of thousands of redirects.

[2020-12-09 03:18] FinnWoelm commented on #26
Hey @moop-moop, I believe that those redirects are there to support preview mode. Can you double check? They should have some condition mentioned with a __next_... cookie. The redirects are there to make [Next.js preview mode](https://nextjs.org/docs/advanced-features/preview-mode) possible.

It's a performance issue for you, right? Does your site need preview mode? Maybe we need a `--no-preview-m

[2020-12-09 16:33] phbernard commented on #98
Not sure this is the place to post this, but I think `getServerSideProps` might be currently broken in NetxtJS projects hosted on Netlify.

The recent update of next-on-netlify, probably peering with the new [Next.js build plugin](https://www.netlify.com/blog/2020/12/07/announcing-one-click-install-next.js-build-plugin-on-netlify/), might break the regular `getServerSideProps` behavior.

This is t

[2020-12-09 18:06] phbernard commented on #98
For the record, the change I described 2 hours ago was rolled back (https://community.netlify.com/t/bug-fix-url-encoding-preserved-in-function-event/27080/4)

[2020-12-09 20:31] moop-moop commented on #26
That was my conclusion after looking into this too. The large site I was exploring (with many dynamic routes) had all next.js pages explicitly set to `fallback:false`
So in order to get a "preview" for a static page, there must a rule to bypass the static files it would seem.

I was not able to test if the same happens when `fallback:true` due to other problems I can't solve right now.

I wonder i

[2020-12-09 20:39] calavera opened #110 "Generate _headers file"
**Is your feature request related to a problem? Please describe.**

Assets under `/_next/static/chunks` are always immutable. They can be cached by the browser forever, without having to re-validate their content. Netlify's default cache-control header is not optimal for those assets, however, it can be overriden with a _headers file.

**Describe the solution you'd like**

Add a new step that gene

[2020-12-10 04:39] lindsaylevine commented on #109
hey! you can (and should!) use https://github.com/netlify/netlify-plugin-nextjs - this will respect the functions and publish dirs you define in your toml file. it is the next iteration of next-on-netlify, in beta; it simply extends next-on-netlify without the extra configuration steps and with this additional customization. in the near future, all apps using next-on-netlify manually will be encou

[2020-12-10 04:39] #109 closed

[2020-12-10 04:46] lindsaylevine commented on #108
thank you for opening this! this is covered in #71 and in the WIP draft you linked so i'm going to close it. when i push up a commit that should address your concerns, i'll be sure to tag you there! <3

[2020-12-10 04:46] #108 closed

[2020-12-10 09:54] lindsaylevine opened #111 "Build error when using "fallback: blocking" in Next 10"
this issue was originally opened by @Keisuke69 in the plugin repo

https://github.com/netlify/netlify-plugin-nextjs/issues/66

[2020-12-12 02:09] diogolessa commented on #71
same problem here @victorhqc

[2020-12-12 02:20] lindsaylevine commented on #26
hey nathan! @moop-moop yeah, great callout. i actually identified this in my ongoing [i18n work](https://github.com/netlify/next-on-netlify/pull/75), which unfortunately has to add even more redirects, but this PR is aiming to use splats/placeholders like you mentioned instead of adding a redirect for every prerendered path. the code itself in that PR is in a messy place right now but starting to

[2020-12-12 08:01] phr3nzy opened #113 "Plans for nuxt-on-netlify?"
Would be sweet if we can get a Nuxt equivalent for this library.

[2020-12-13 15:30] lindsaylevine opened #115 "Conflicting [slug] path and static page causing weird behavior in production"
**Describe the bug**
https://github.com/netlify/next-on-netlify/pull/75#issuecomment-743805067

This [live site reproduces the issue](https://fneinternacional.org/blog). If you click on a blog article and then click back, you should see that the blog page doesn't load, it hits the statically generated fallback page that just says Blog. Put another way, there's a page called blog on my wordpress CM

[2020-12-13 17:08] fittotweet commented on #102
(total noob here (first comment ever!)).  I just ran into this as well.  I had to manually create a `next.config.js` file w target set to 'serverless' and run 'npx next build' to create the missing files/folders in the .next folder.   Am not getting that plugin error now.

[2020-12-14 06:22] FinnWoelm commented on #36
Hi @lindsaylevine, can you confirm that this issue is resolved with the [new Netlify+Next.js build plugin](https://github.com/netlify/netlify-plugin-nextjs)?

As far as I remember/understand, the build plugin allows you to create custom Netlify functions: Just create the functions as usual in your `functions` folder (or whatever path you set in `netlify.toml`). The build plugin will merge any Next

[2020-12-14 08:15] lindsaylevine commented on #36
yes! this is indeed the case! devs can see more info here about the plugin and what's next for next on netlify :) https://github.com/netlify/next-on-netlify#next-on-netlify-roadmap

[2020-12-14 08:15] #36 closed

[2020-12-14 09:02] FinnWoelm commented on #61
Hi @lucasconstantino, thank you for filing this issue and apologies for the late reply!

Can you share more about where you see potential benefits for more static exporting? next-on-netlify statically exports as much as possible: static pages (with or without dynamic routing) and pages with getStaticProps (with or without dynamic routing). Pages with `getInitialProps` and `getServerSideProps` as w

[2020-12-14 10:11] JoviDeCroock opened #116 "Redirecting from "getInitialProps" puts the response in html"
**Describe the bug**

When deploying an application on `netlify` with `next-on-netlify` which uses a page with `getInitialProps` that's used for redirecting, like the following:

[code]

It treats this as html, which means that we get to see a html-page which includes:

[code]

rather than actually being redirected to the `pages/[locale]` handling this, this seems to work correctly when using `nex

[2020-12-14 13:42] sdras commented on #113
Nuxt in it's current state works very well on Netlify, especially with with `target: static` :) that said, we are hiring someone to work on some of the new features that will be coming out with Nuxt 3, so there will be one, yes!

[2020-12-14 13:42] #113 closed

[2020-12-14 14:38] lindsaylevine commented on #116
hm if you're using Next 9.3 or greater (i see you're on Next 10) and [the docs](https://nextjs.org/docs/api-reference/data-fetching/getInitialProps) recommend using getServerSideProps or getStaticProps over getInitialProps in these later versions. 1. is this an issue using getServerSideProps instead? 2. what's your use case for getInitialProps over getServerSideProps?

[2020-12-14 14:42] JoviDeCroock commented on #116
This issue seems general with both `getServerSideProps` and `getInitialProps`, the case for `getInitialProps` is a peculiar one.

In librarlies like `next-urql` a library called [react-ssr-prepass](https://github.com/FormidableLabs/react-ssr-prepass) is used, the same goes for `next-apollo` where it's called `getDataFromTree`. The `getInitialProps` method allows us to hook into our virtual dom-tre

[2020-12-14 15:06] lindsaylevine commented on #116
gotcha ok makes sense, thanks for explaining that :) is this something you need hot-fixed out right now or can it wait til our next release?

[2020-12-14 15:14] JoviDeCroock commented on #116
We have a temp-fix in place by returning the object for now so it can wait for the next release, thanks for following this up!

[2020-12-14 15:38] lindsaylevine commented on #116
of course!! thanks for investigating and opening a PR, we super appreciate it!!

[2020-12-14 15:38] #116 closed

[2020-12-18 11:33] s-kris commented on #104
I used next-on-netlify build plugin and redeployed the same code. The styles are working as expected now.
Closing the issue, thanks again! :)

[2020-12-18 11:33] #104 closed

[2020-12-18 12:35] khawarjatoi commented on #17
There is no _next folder in any directory but I'm still getting same error when I try to deploy.

[2020-12-18 14:49] lindsaylevine commented on #115
@squamuglia can you address these thoughts described above (1-3)? otherwise we'll likely close this issue :)

[2020-12-18 14:50] lindsaylevine commented on #103
@lqze hey caleb any update here?

[2020-12-18 14:54] lindsaylevine commented on #102
@mrpaulphan @olegrjumin are you still experiencing this issue when using next-on-netlify? if so, can you provide these details about your setup?

1. netlify.toml
2. build command (if your toml build command is an npm script pointing to the actual command)

seems like @fittotweet's issue was resolved by using the correct configuration :)

i don't think it's possible to not have .next/static if you'

[2020-12-18 14:59] lindsaylevine commented on #95
hey all, closing this since the discussion is over :). per the resolution we reached, if/when we run into issues manually updating what's inlined, we can re-address then!

[2020-12-18 14:59] #95 closed

[2020-12-18 15:39] lindsaylevine opened #120 "experimental-serverless-trace causes breaking build times and bundle sizes"
This is an issue to combine some of the miscellaneous, lingering issues in next-on-netlify that are all:

1. solved by changing target: serverless to target: experimental-serverless-trace
2. negatively impacted by the increased build times / bundle sizes

The related, miscellaneous issues:
[Preview mode broken in Next 10.0.2](https://github.com/netlify/next-on-netlify/issues/99)
[Functions fail wh

[2020-12-18 15:51] lindsaylevine commented on #99
hey all! i'm going to close this issue in favor of https://github.com/netlify/next-on-netlify/issues/120, which groups several `next-on-netlify` issues together related to experimental-serverless-trace. this issue mentions that an improvement has been made to our internal bundling library `zip-it-and-ship-it`, to be released in the new year.

please feel free to re-open this issue if you think #12

[2020-12-18 15:52] lindsaylevine commented on #68
hey all! i'm going to close this issue in favor of https://github.com/netlify/next-on-netlify/issues/120, which groups several `next-on-netlify` issues together related to experimental-serverless-trace. this issue mentions that an improvement has been made to our internal bundling library `zip-it-and-ship-it`, to be released in the new year.

please feel free to re-open this issue if you think #12

[2020-12-18 15:52] #68 closed

[2020-12-18 15:52] lindsaylevine commented on #66
hey all! i'm going to close this issue in favor of https://github.com/netlify/next-on-netlify/issues/120, which groups several `next-on-netlify` issues together related to experimental-serverless-trace. this issue mentions that an improvement has been made to our internal bundling library `zip-it-and-ship-it`, to be released in the new year.

please feel free to re-open this issue if you think #12

[2020-12-18 15:52] #66 closed

[2020-12-19 07:33] lqze commented on #103
@lindsaylevine Hello, sorry have not had a moment in the past week to spin up a minimal reproduction repo. I am working on one now.

On another note, adding the peer dependencies to the top level `package.json` did work, however, this resulted in
[code]

and the build failing thereof.

[2020-12-19 11:22] afzalsayed96 commented on #99
@lindsaylevine I understand that #120 addresses all issues with `experimental-serverless-trace`. Are there any plans to make target `serverless` work with Next v10.0.2+?

[2020-12-19 12:23] afzalsayed96 opened #121 "Next dynamic loading breaks with experimental-serverless-trace"
**Describe the bug**
When using `experimental-serverless-trace` along with preview mode on Next v10.0.3, lazy loading components with `dynamic` breaks.

**To Reproduce**
Steps to reproduce:
1. demo: https://suspicious-goodall-701115.netlify.app/api/preview?slug=/
2. repo: https://github.com/afzalsayed96/next-on-netlify-repro

**Versions**
 - Next: 10.0.3
 - next-on-netlify: 2.6.3

[2020-12-19 12:37] lindsaylevine commented on #103
@lqze no worries :) let us know when you have the repo.

re: your other note, #120 should address that!

[2020-12-19 13:39] squamuglia commented on #115
I will update this report with more info soon and try those workarounds. However, I can confirm that the routes behave correctly when building without NoN on a node droplet.

[2020-12-19 19:33] lindsaylevine commented on #99
@afzalsayed96 that is a _very_ good question and need time to think about it.

[2020-12-20 01:15] lqze commented on #103
@lindsaylevine Quick update nonetheless, I don't believe it is directly related to `react-spring`. It's going to require some more investigation.

I've managed to make a very small repo which had the base `nextjs` dependencies and the only additional package was `react-spring`. This successfully built when following the manual `next-on-netlify` instructions; I'd assume it would be the same with th

[2020-12-20 01:39] lindsaylevine commented on #103
@lqze yes should be the exact same with the one-click. hm i just skimmed your dependencies in the original post and not sure which would cause the react-native complaint. thanks for the update, will wait to see what you discover!

[2020-12-20 02:07] lindsaylevine commented on #115
ok let us know! the link in your original comment seems to be working as expected now (you may have introduced a workaround already?). again a minimal repo would be best - even if it's just the two pages that are conflicting. thanks!

[2020-12-20 02:30] lqze commented on #103
The `react-native` comes from:
[code]
This is what appears in the `package-lock.json`

[2020-12-20 02:48] lindsaylevine commented on #103
@lqze oh ok but the minimal project still built without error with react-spring installed right? per your second-to-last comment. v interesting

[2020-12-20 10:32] erezrokah commented on #120
FYI, the PR will be released to our build system in the new year as @lindsaylevine said, but it is available now in the CLI.
Running `netlify build` or `netlify deploy --build` will use the improved bundling logic when using `next-on-netlify`.

[2020-12-20 11:13] lindsaylevine opened #122 "Add tests for root level index pages of all page types for i18n"

[2020-12-20 18:12] lindsaylevine opened #123 "Use splats in SSG redirects instead of adding a redirect for every exact prerendered path"
right now there are more redirects than necessary being added to _redirects for dynamic SSG'd pages (for ex, a user like moop-moop may have thousands of paths prerendered via getStaticPaths and _each_ of these is getting its own redirect). we should use a splat instead.

https://github.com/netlify/next-on-netlify/issues/26#issuecomment-742030949

cc @moop-moop

[2020-12-20 18:12] lindsaylevine commented on #26
@moop-moop hey update from my end. i'm getting ready to close out my i18n work and think the scope of updating non-i18n static redirects to be more performant doesnt fit into that PR. (i did write logic to limit i18n-based redirects in the way that ill apply to default apps, but i just don't want to push out too much at once). that said, i opened a new issue for it and am tagging you there. cheers

[2020-12-21 12:26] lqze commented on #103
Exactly.

Even with the exact same `package.json` I am unable to get the build to fail. I am going to just clone my project which is in use on Vercel and try process of elimination. It's going to be hard to pinpoint I imagine.

[2020-12-21 12:40] MejanH opened #124 "Markdown files cannot be found in netlify function environment"
Hi. First of all, Thanks for the plugin.

I am getting errors with my markdown blog. Pages and components seem to be working perfectly (tested with sample). but not working with the markdown directory. It's giving me an error related to my file location.

[code]

**Deploy Log**
[code]

[2020-12-21 12:49] lindsaylevine commented on #103
@lqze :( sorry it's such a pain to figure out. wish i could help more at this moment! D: good luck 🙏

[2020-12-22 02:52] #20 closed

[2020-12-22 02:57] FinnWoelm commented on #20
Hi @lednhatkhanh & @kevee: We just made it possible to access Netlify Identity in all server-side-rendered pages and API routes!! 🎉

See README for an example: https://github.com/netlify/next-on-netlify#using-netlify-identity

More details here: https://github.com/netlify/next-on-netlify/pull/119

The feature has been merged into main, but won't be available until the next minor release of `next-o

[2020-12-22 03:02] lednhatkhanh commented on #20
@FinnWoelm Thank you so much for your hard work implementing this, can't wait to try it!

[2020-12-22 03:04] FinnWoelm commented on #66
Hi @zaarheed, we just added some code to expose the Netlify Function's context in server-side-rendered pages and API routes. So you no longer need to use `patch-package` to change the value of `callbackWaitsForEmptyEventLoop`! 🎉

You can simply do the following:
[code]

More details here: #119

The feature has been merged into main, but won't be available until the next minor release of next-on-ne

[2020-12-22 04:08] FinnWoelm commented on #76
Hi @afzalsayed96,

Thank you for creating this repo for reproducing the issue! That was fantastic and extremely helpful.

I'm happy to report that @lindsaylevine and I have identified the issue. It's indeed a bug in `next-on-netlify`, so thank you so much for catching and reporting that.

The issue is related to the way in which we sort the redirects that `next-on-netlify` creates under the hood.

[2020-12-23 20:24] adaam2 commented on #17
@khawarjatoi I was on next v9, and upgrading to `10.0.4` fixed that issue for me :)

[2020-12-23 20:54] khawarjatoi commented on #17
@adaam2 thanks man. I was also using v9.

[2020-12-23 21:15] lindsaylevine commented on #103
additional context: someone [posted on twitter](https://twitter.com/erikras/status/1341792422708334592) a very similar issue if not the exact same issue and they were able to reply with their source: https://github.com/erikras/happyhourfm

that is mainly a note for me but if i'm able to clone that and deploy/repro myself that _might_ enable me to move forward on your issue caleb

[2020-12-23 22:17] calavera commented on #123
can you elaborate why we currently do this? I'm trying to understand the problem to see if we can come up with a better solution.

[2020-12-23 22:40] lqze commented on #103
I can see we are both using styled-components and styled-normalise. I wonder if it's only correlation?

On another note, is it possible to get additional debugging output through the Netlify CLI? I.e., could I run next-on-netlify locally and attach a debugger?

[2020-12-27 13:58] FinnWoelm commented on #123
Hi @calavera, nice to meet you! 😊

We create two redirects for every SSG page to support [Next.js preview mode](https://nextjs.org/docs/advanced-features/preview-mode). The redirects look like this:

[code]

In other words, if the special preview-mode cookies are present, we ignore the local, statically-generated-and-prerendered file and instead hit the Netlify function. We need two redirects: One

[2020-12-27 14:13] lindsaylevine commented on #123
@FinnWoelm thank you for the thorough breakdown!!! i happened to respond to david (@calavera) in our slack but what you said is still super helpful context, some of which i didn't include. let me break down what david brainstormed on slack:

2. Add that json document to the zip file that we use to package the function
3. When AWS unpacks that function, it will put the json file in the same directo

[2020-12-29 15:37] philippbosch commented on #20
@FinnWoelm this is great, thank you!
is there any chance this will also work in `netlify dev` at one point?

[2020-12-29 15:43] FinnWoelm commented on #99
Hey @afzalsayed96, great point!

This issue is on Next.js' end. We just traced the error down and identified a solution. This has been filed here: https://github.com/vercel/next.js/issues/20575 (in case you're curious about the details 😊).

I'm reopening this issue, so we can track progress on the issue in the next.js repo.

Note that there are currently three possible work-arounds, which I'm happ

[2020-12-29 16:53] FinnWoelm commented on #123
Hi @calavera,

@lindsaylevine told me briefly about your chat. Thanks so much for looking into this and helping us figure out a solution! 😊

I'm not sure if I'm correctly understanding your proposal/brainstorm. I can't quite imagine how it could work. The issue is that preview mode requires forced rewrites for all of these paths, because there are pre-rendered HTML files that are shadowed by defau

[2021-01-02 14:52] Riglanto opened #128 "[next-auth][error][adapter_connection_error] DriverPackageNotInstalledError"
**Describe the bug**
Please include a repo to reproduce your issue if you can!

**To Reproduce**
Issue: incorrect or missing library. Build/deploy is successful. The issue occurs on calling the api function.

Technical reason: Next-auth peer dependency is typeorm in latest aka buggy version.

Workaround: Force typeorm version via “resolutions” setting in package.json.

Probably cause: Resolutions

[2021-01-03 03:29] lindsaylevine commented on #128
@Riglanto

1. are you using target: serverless in next.config.js?
2. unfortunately for something like this we'll need a simple deployable repo that reproduces your issue

[2021-01-03 03:34] lindsaylevine opened #129 "Investigate tradeoffs between redirects and copying files [to correct paths]"
Per https://github.com/netlify/next-on-netlify/pull/75#discussion_r549917745 on i18n PR:

We can either do something like `/some/path   /en/some/path   200` or we copy the file located at `.next/serverless/pages/en/some/path.html` to both `out_publish/some/path.html` and `out_publish/en/some/path.html`. After some discussion during i18n, we decided to stick with the redirect approach that was orig

[2021-01-03 22:55] lindsaylevine commented on #71
merged https://github.com/netlify/next-on-netlify/pull/75, releasing shortly!

[2021-01-03 22:55] #71 closed

[2021-01-06 11:50] neefrehman commented on #103
hey @lindsaylevine. just continuing the conversation from https://github.com/netlify/netlify-plugin-nextjs/issues/75#issuecomment-755252655.

going from 'serverless' to 'experimental-serverless-trace' in my next config didn't solve the build issue, but adding `critters` as a devDependency did.

[2021-01-06 11:51] lindsaylevine commented on #103
@neefrehman cool thanks for trying that. lines up with caleb's issue. trying to loop in some others from the build team at netlify to hopefully get this figured out sooner rather than later!

[2021-01-06 11:52] lindsaylevine commented on #103
@lqze if you make changes to node_modules/next-on-netlify they should output on a CLI build. as far as general CLI debugging goes, @erezrokah may have more insight there 🙏

[2021-01-06 12:15] erezrokah commented on #103
You can run `NODE_OPTIONS="--inspect-brk" netlify build` and attach a debugger.
Both our build system and the CLI use [zip-it-and-ship-it](https://github.com/netlify/zip-it-and-ship-it) for bundling so the error should come from:
https://github.com/netlify/zip-it-and-ship-it/blob/86cf238bd82dd8a1aa6f0581d2cbb6b3c90c726b/src/node_dependencies/index.js#L20

Is the current issue that the build fails

[2021-01-06 14:06] lindsaylevine commented on #103
@erezrokah their functions fail on bundling and the build fails. for both neefrehman and erikras, their bundles fail on `Cannot find module critters`

![Ep74n6tXYAAT97H](https://user-images.githubusercontent.com/57350178/103777068-59b12080-4ffe-11eb-9993-20304f75d7cc.jpg)

caleb's fails  on `Cannot find module 'react-native'` despite it not being a direct dependency

[2021-01-06 14:09] lindsaylevine commented on #103
@erezrokah and yes! we have happyhourfm as a repo that reproduces critters, thats it.

[2021-01-07 03:01] MaximeHeckel opened #132 "Refreshing/accessing page with Dynamic Route blocks rendering?"
**Describe the bug**
Hi all 👋 first of all thank you for this project, I've been following it for a while and I'm really happy about Netlify's commitment to NextJS

My issue is a bit of a weird one: I deployed my Next.JS v10 blog on Netlify using next-on-netlify, the build is successful, all my
posts are being rendered (SSG) properly. My Next.JS blog is fairly basic in terms of setup: I have a lan

[2021-01-07 05:05] idappstack-io commented on #20
How to get clientContext and identity in express JS ? and if there is a way will it work on netlify dev ?

[2021-01-07 05:25] MaximeHeckel commented on #132
Ok I think I figured it out!
Basically, disabling any kind of "Post Processing" in the "Deploy Settings" on Netlify UI fixes this issue, took me a few hours to find this one 😅

Do you know what's the underlying reason behind that?  Maybe this could be a contribution to the docs?

[2021-01-07 14:30] TejasQ opened #133 ""blocking" on getStaticPaths' fallback throwing ambiguous error"
**Describe the bug**
So my netlify site is `g2i-pace`, and it refuses to build if I want gSP to be blocking. 🤔

![image](https://user-images.githubusercontent.com/9947422/103903803-a67b2100-50fc-11eb-9430-ae62bb315ae3.png)

**To Reproduce**
Steps to reproduce:
1. Create a basic page in a NextJS project with `fallback: "blocking"` in its exported `getStaticPaths` function
2. Build it on netlify wit

[2021-01-07 18:02] erezrokah commented on #120
A quick update on this issue.
The fix has been released to our build system and we're seeing improvements on both bundle sizes and build times.
If anyone has a specific issue with functions bundle sizes/bundling time please open a new issue, possibly with a reproduction repo.

[2021-01-07 18:02] #120 closed

[2021-01-07 21:37] jaobrown commented on #68
Hesitant to reopen this, because I'm not sure I have enough context to say that this issue hasn't been solved—however, I tracked with #120 which was updated as closed, and mention of it being released into the build system—but I'm still getting the error in this issue, and can't seem to figure out if there has been a solve.

Any solutions other than downgrading Next to 9.5 at the moment? Or workin

[2021-01-07 22:05] lindsaylevine commented on #68
@jaobrown which error exactly are you getting? there are a few different mentioned in here 😅

[2021-01-07 23:35] jaobrown commented on #68
@lindsaylevine Whoops! Sorry about that.

The OP's error—more specifically, mine is verbatim:

`Error: ENOENT: no such file or directory, open 'protos.json'`

[2021-01-08 00:45] lindsaylevine commented on #68
@jaobrown oh! have you changed your target in your next.config.js to `experimental-serverless-trace`?

[code]

[2021-01-08 15:15] ehmicky commented on #79
It looks like this error [is happening pretty frequently](https://app.bugsnag.com/netlify/netlify-build/errors/5fc6eda143d1b30017cae1c0) in production.

[Example build](https://app.netlify.com/sites/kultaapp/deploys/5ff72e4e4449ef00077fcc3b)

[code]

The line failing is:

https://github.com/netlify/next-on-netlify/blob/ae79eb03feb2c9f86ae4823d3bb1f1c070883281/lib/helpers/setupNetlifyFunctionForPag

[2021-01-08 15:18] erezrokah commented on #103
Reported on Next.js repo too https://github.com/vercel/next.js/issues/20742

[2021-01-08 15:50] Antonytm opened #135 "Cannot find module 'critters'"
**Describe the bug**
Netlify deploy stopped to work on the code version that worked before.

**To Reproduce**
Steps to reproduce:
1. Go to failed deploy
2. Check logs:

5:37:19 PM: ────────────────────────────────────────────────────────────────
5:37:19 PM:   Dependencies installation error
5:37:19 PM: ────────────────────────────────────────────────────────────────
5:37:19 PM: ​
5:37:19 PM:   Err

[2021-01-08 15:56] ehmicky opened #136 "Missing `pages-manifest.json`"
Some sites seem to be missing a `pages-manifest.json`, which makes the build fail.

Link to [Bugsnag error](https://app.bugsnag.com/netlify/netlify-build/errors/5fc711325228df0018b2ae7e).

Build logs:

[code]

[Example git commit](https://github.com/mitchwongho/bookfriends/commit/5cd0f587f919257be28362f153d1a637082b7a72)

[2021-01-08 16:00] ehmicky opened #137 "Failure when the publish directory is `public`."
When the publish directory is `public`, the following line of code fails:

https://github.com/netlify/next-on-netlify/blob/ae79eb03feb2c9f86ae4823d3bb1f1c070883281/lib/steps/copyPublicFiles.js#L12

This is because we try to copy `./public/` to `./public/`.

[Bugsnag error](https://app.bugsnag.com/netlify/netlify-build/errors/5fc902ded8ad01001895be48)

[Build logs](https://app.netlify.com/sites/wil

[2021-01-09 03:24] zlatanpham commented on #135
I think it can be worked around by adding `critters` to the `package.json` file.

[2021-01-09 11:01] lindsaylevine commented on #137
great catch!!!!!! thanks for opening <3 @ehmicky

[2021-01-09 11:02] lindsaylevine commented on #136
odd. thanks for reporting!!!!!

[2021-01-09 11:05] lindsaylevine commented on #135
hey @Antonytm! thanks for opening this. this was introduced in a recent version of next. see [this comment](https://github.com/netlify/next-on-netlify/issues/103#issuecomment-756810458) by my teammate at netlify :). because #103 is tracking this issue, i'll mark this one as a duplicate and close. please track it there! as @zlatanpham pointed out, a current workaround is to install critters or down

[2021-01-09 11:05] #135 closed

[2021-01-09 11:09] lindsaylevine commented on #133
hello hello @TejasQ ! thanks for opening and sorry about this :). lol @ step 3. i believe this is the same issue as https://github.com/netlify/next-on-netlify/issues/111 so i'll mark this as duplicate and close. please track it there! #111 is currently in our next 10 milestone https://github.com/netlify/next-on-netlify/milestone/1 so it's a priority!

[2021-01-09 11:09] #133 closed

[2021-01-09 11:16] lindsaylevine commented on #132
hey @MaximeHeckel! thanks so much for opening such a detailed issue and for your kind words! we caught wind of your tweet and i've been trying to track down some more info about post processing internally 😆

![Screen Shot 2021-01-09 at 6 14 13 AM](https://user-images.githubusercontent.com/57350178/104090054-eef02700-5241-11eb-8826-cec62273675d.png)

appreciate the update and sorry this took you a

[2021-01-09 11:20] lindsaylevine commented on #115
@squamuglia hey checking in one last time before closing!

[2021-01-09 15:29] MaximeHeckel commented on #132
@lindsaylevine thank you for your reply!

And no worries, I'm really excited about advanced NextJS support on Netlify! For the moment this project is just me experimenting thus I'm not in a rush at all

I will keep an eye out for updates regarding this, would love to know why this happened 😄

[2021-01-10 13:27] lindsaylevine commented on #121
heyo @afzalsayed96, started to dig into this but not quite sure yet what exactly is going on and why and how to fix it, lol. i see what's different in the source/next dist between serverless and e-s-t, but not sure why. it seems in serverless the dynamic import is almost treated as a normal import in the generated .js. in e-s-t, it is explicitly trying to require that long generated `${code}.js` r

[2021-01-10 17:32] FinnWoelm commented on #121
Thanks for reporting, @afzalsayed96! 😊

My personal understanding of this issue is that `next-on-netlify` does not bundle into the Netlify Function any files that are dynamically imported. This should affect not just pages with `getStaticProps`, but any page type that is rendered via Netlify Function when using `target: "experimental-serverless-trace"`.

When you hit `/api/preview`, we enter Next.

[2021-01-10 17:43] FinnWoelm commented on #79
`errorOnExist: true` exists as a safety precaution to make sure that we a) never accidentally overwrite the user's files or functions and b) catch bugs where NoN writes two files to the same name.

The latter can happen for our Netlify Functions, because when we convert the page's file name to Netlify Function name, we strip all non-alphanumeric characters (except underscore). So page `my-[page].j

[2021-01-10 18:17] FinnWoelm commented on #20
Hi @philippbosch and @idappstack-io,

Happy to hear! 😊

Unfortunately, there is no built-in support for this in `netlify dev` at this point. I'm tagging @lindsaylevine, so that she is aware. Perhaps it's possible to manually implement this Netlify Identity logic in your page's `getServerSideProps` for now. I'm not completely sure how, but broadly speaking it should work like this:

1. Get the Auth

[2021-01-10 22:16] #111 closed

[2021-01-11 10:52] #115 closed

[2021-01-11 13:49] ehmicky commented on #79
Thanks for the additional context @FinnWoelm!
Please let me know if I should re-close this issue.

[2021-01-12 10:15] erezrokah commented on #103
Hello 👋  A [fix](https://github.com/netlify/zip-it-and-ship-it/pull/295) to the missing `critter` dependency is now live in our build system and the CLI.

Unless we can get a reproduction  for the `react-spring` error (the original error reported in this issue), I believe we can close this issue. @lindsaylevine WDYT?

[2021-01-12 10:22] lindsaylevine commented on #103
@erezrokah thanks so much for the build/CLI fix!!! i agree we can close : )

cc @neefrehman @jonasbuntinx

@lqze please feel free to re-open if you have end up having a repro and need more of our help!

[2021-01-13 01:55] #70 closed

[2021-01-13 02:00] lindsaylevine opened #140 "Improve next/image performance"
This issue follows up https://github.com/netlify/next-on-netlify/issues/70. Initial support for next/image was merged in https://github.com/netlify/next-on-netlify/pull/138. However, that initial support is not performant since the Netlify function will re-run on every request without any caching.

Our next step is to improve this performance with caching. This will depend on internal work at Netl

[2021-01-13 07:14] lindsaylevine commented on #61
hey @lucasconstantino!! i think we can close this discussion as it's been about a month since finn's reply, and i generally agree with finn that we're limiting functions usage as much as we possibly can in next-on-netlify. feel free to re-open if you can make a case for next export that accommodates all the framework's features and complexity!!! 🙏 <3

[2021-01-13 07:14] #61 closed

[2021-01-13 17:20] #110 closed

[2021-01-14 02:28] MaximeHeckel commented on #140
Thank you for the update @lindsaylevine! 🎉 Is there a timeline you can share until better caching / performances becomes available?

[2021-01-14 06:50] lindsaylevine commented on #140
hey @MaximeHeckel! my understanding as of right now is that we may not see the internal caching functionality we're looking for until 1-2 months out :( this is because the team is heads down working on other priorities. if i can help speed this up at all, i will! and if there are any updates, i'll be sure to report them here. in the meantime, we suggest in the README (per #138) [using a provider l

[2021-01-14 15:25] MaximeHeckel commented on #140
Thank you @lindsaylevine! So excited to see this happening 🎉  And no worries, this is a dependency on some personal work I can easily postpone, I'm not in a rush 😄

[2021-01-15 05:01] jonasbuntinx commented on #103
@lindsaylevine @erezrokah Thank you very much.

The issue with `critters` has been fixed. However I'm now getting similar errors concerning to `jimp`:

<img width="1176" alt="Screen Shot 2021-01-15 at 13 59 04" src="https://user-images.githubusercontent.com/26402722/104683359-19f2e300-573a-11eb-8cab-f28a68627193.png">

Is this related?

[2021-01-15 11:16] lindsaylevine commented on #132
hey @MaximeHeckel! i believe i have some sort of update. it seems the js bundled by netlify and hosted on cloudfront is missing a snippet. see line 16:

<img width="949" alt="Screen Shot 2021-01-15 at 5 00 42 AM" src="https://user-images.githubusercontent.com/57350178/104718207-86e58900-56f8-11eb-8598-b0eb711c248d.png">

i assume this is because the file name has brackets in it, an issue we've see

[2021-01-15 11:16] #132 closed

[2021-01-16 23:05] ctsimpouris opened #143 "Cannot find module 'jimp'"
**Describe the bug**
Unfortunately no repo can be provided

**Versions**
Bug started to appear on Wednesday,  13/1/2021 [after this commit](https://github.com/netlify/next-on-netlify/commit/b4c85b9544e3608dda6b9e623c970d5f8c0ed50c).

**Log**
After [this commit](https://github.com/netlify/next-on-netlify/commit/b4c85b9544e3608dda6b9e623c970d5f8c0ed50c), the same code stopped being able to be deploy

[2021-01-17 05:46] lindsaylevine commented on #143
hey @ctsimpouris ! apologies about this. yes, jimp is required for our next/image support, but no, you shouldn't have to install it yourself. can you do me a favor and try using https://github.com/netlify/netlify-plugin-nextjs instead of the standard next-on-netlify configuration you're using? if you do try it, make sure you uninstall jimp before re-attempting a build/deploy.

[2021-01-17 10:55] lindsaylevine commented on #128
hey @Riglanto! any update here? :)

[2021-01-17 11:24] gregg-cbs commented on #143
I am receiving the same issue even with your suggestion.
I uninstalled Netlifys plugins: Next.js Cache and Next on Netlify.
I installed the netlify-plugin-nextjs node module as recommended in the readme in the repo.

I rebuild and i see the following error:
[code]

[2021-01-17 11:35] gregg-cbs commented on #143
Installing critter as a dev dependancy has fixed the issue and my site loads fine.

Thank you!

[2021-01-17 11:45] lindsaylevine commented on #143
hey @gregg-cbs! critters is a separate issue from jimp, believe it or not 😆

what next version are you using? the critters issue should be resolve now per https://github.com/netlify/next-on-netlify/issues/103#issuecomment-758554353

[2021-01-17 15:49] james-work-account commented on #143
I'm also unable to deploy due to my Netlify deployment being unable to find jimp:

[code]

This is with Next version 10.0.5 and after installing https://github.com/netlify/netlify-plugin-nextjs through the UI about 20 minutes ago.

[2021-01-17 15:53] james-work-account commented on #143
@lindsaylevine this is a fresh site linked up to GitHub, not deployed through the CLI at all if that helps. Apart from Next version being slightly different to another site I deployed without any issues roughly a month ago (10.0.3 vs 10.0.5), I can't see any differences between the apps in terms of config/versions/deploy method etc.

[2021-01-17 16:02] james-work-account commented on #143
Creating a netlify.toml file containing:

[code]

and installing `@netlify/plugin-nextjs` as a dev dependency does seem to have fixed this, though I'm curious why using the UI didn't work.

[2021-01-17 19:53] lindsaylevine commented on #143
@james-work-account hey james! so sorry about this. we're not sure why our functions bundling logic can't find jimp when it's a dependency of both the plugin and next-on-netlify. the fact that you installed the plugin as a dev dependency and it worked is good info for us; that means simply having it in the plugin on runs does not affect the bundling at all aka why the UI wouldn't work (because the

[2021-01-17 20:49] Ali-Parandeh commented on #143
Yeah i Had the same issue and installed @netlify/plugin-nextjs then added the toml file and now it deployed successfully.

[2021-01-18 05:30] #76 closed

[2021-01-18 05:37] lindsaylevine commented on #76
hey @afzalsayed96 ! just merged the sorting work and confirmed NoN runs on the repo you provided :) will release shortly

[2021-01-18 05:59] lindsaylevine commented on #143
hey all, just released next-on-netlify with the revert. headed to update the plugin now. won't have answers to the jimp issue til tuesday earliest. apologies once again!

[2021-01-18 06:00] lindsaylevine commented on #99
according to @FinnWoelm , this will be resolved in the next release of Next!!! :)

[2021-01-18 08:53] #79 closed

[2021-01-18 15:59] Riglanto commented on #128
Sorry for the delay @lindsaylevine
1. The target is `experimental-serverless-trace`
2. You can find failing example here: https://github.com/Riglanto/bug-app
- you will need to set vars: NEXTAUTH_URL,GOOGLE_ID,GOOGLE_SECRET,NEXTAUTH_URL
- also add your <URL>/api/auth/callback/google to google console.
- deploy to Netlify and try to click signin button followed by logging with google
- check logs f

[2021-01-19 03:50] ctjlewis opened #151 "Header config causes CLI to throw "invalid rule: cannot contain anything after *""
**Describe the bug**
The generated `_headers` file contains a `/*/_next/static/chunks/*` rule, which throws `Error: invalid rule (A path rule cannot contain anything after * token) at line: 1` when `netlify dev` is run.
https://github.com/netlify/next-on-netlify/blob/e1f037865c170941f70c8db731ef2802d2e07c15/lib/steps/setupHeaders.js#L22-L27

This rule is disallowed by the CLI logic:
https://github

[2021-01-19 03:58] ctjlewis commented on #151
There is an issue matching this one in the CLI repo. Please let me know if it would be best to add to that thread and I can close this.

https://github.com/netlify/cli/issues/1148

[2021-01-19 06:31] lindsaylevine commented on #151
@ctjlewis thanks for finding this and opening! at first i thought the leading * was necessary because our original syntax wasn't working but that syntax ended up being separate from the *. opening a PR now! <3

[2021-01-19 06:33] ctjlewis commented on #151
@lindsaylevine No worries at all!

Am I right in understanding that this is actually a valid path, and that the CLI should be patched? I started working on a PR in that repo.

[2021-01-19 06:43] lindsaylevine commented on #151
@ctjlewis 🙏

no worries for the CLI questions! happy to help if i can, especially because this is directly related to the issue you opened! that said, you're asking a great question, lol. as evidenced by the several changes i've made now to NoN's _headers logic, it's not exactly my area of expertise. the strange things for me are: 1. the rule/path is respected in and works in production just fine

[2021-01-19 06:50] ctjlewis commented on #151
It's already pretty much done, so what I will do is send it in as a draft and you guys can edit it if you need, toss it if not. Like you said, it depends on that clarification - if that rule really is allowed, the PR can get merged, and if not, someone might to update documentation / deploy logic.

Anyway, no rush at all, TYSM for your help! Mind if I CC you on that PR draft when I send it?

[2021-01-19 06:53] lindsaylevine commented on #151
@ctjlewis ah okay! sounds good. i just sent this message in slack:

_hello! i have a next-on-netlify user who wants to open a PR that addresses https://github.com/netlify/cli/issues/1148. however, he’s/we’re not sure what in this issue is actually considered a valid path and whether it’s safe for him to “remove” this check https://github.com/netlify/cli/blob/425e2c6eeb6a3b589370a78407b18c53f4b850b

[2021-01-19 13:01] #151 closed

[2021-01-19 13:04] lindsaylevine commented on #151
@ctjlewis morning! don't see a draft PR from you but here's what my team has said:

[code]

my teammate that works most on the CLI said you "can open a *draft* PR fixing the specific use case that doesn't work in the CLI (but works in production) and they'll comment on the PR"!

[2021-01-19 13:54] #102 closed

[2021-01-19 13:54] #136 closed

[2021-01-19 16:27] #137 closed

[2021-01-20 13:50] amuttsch opened #153 "_redirects sorted wrong when using catch all route and dynamic routes"
The change [#145](https://github.com/netlify/next-on-netlify/pull/145) "revert route/redirect sorting logic to static then dynamic" causes the `_redirects` file to be sorted wrong when using an optional catch all route and dynamic paths.

## How to reproduce

This problem happens when we have the following routes:

[code]

Clone https://github.com/amuttsch/non-routes

Execute the following command

[2021-01-20 18:04] lindsaylevine commented on #153
![EaaHUWF](https://user-images.githubusercontent.com/57350178/105215998-fe178480-5b1f-11eb-99f2-006b46b1626e.jpg)

[2021-01-21 06:19] ctjlewis opened #154 "Add clarification for deployment with submodules"
### Describe the bug
"Bug report" is a bit of a misnomer, but the behavior is technically unexpected. For the most seamless usage of Next on Netlify, something that deploys on Vercel out-of-the-box should ideally work on Netlify as well after following the README instructions.

This Next site contains a private submodule, and despite adding a deploy key to the submodule repo as advised [here](http

[2021-01-21 09:26] lindsaylevine commented on #154
hey @ctjlewis! thanks so much for opening this issue and the accompanying PR!! this is an interesting use case i personally haven't encountered before but a very valid and not uncommon one, of course. there are a few things that come to mind. with the Next on Netlify initiative here at netlify, we will eventually be moving away from this repo. i think it doesn't hurt at all to merge your PR (thank

[2021-01-21 17:50] iDVB commented on #35
@joostmeijles  If I'm understanding this correctly, ISR is now actually just SSR under the hood when hosted on Netlify.
I think it begs the question then, why would I choose to use ISR then?
Would it not just be simpler to use SSR?
I would love to know the technical details here and how Netlify is working under the hood.

[2021-01-21 17:50] ctjlewis commented on #154
I had the same thoughts - this isn't *really* a Next on Netlify thing, it's really a Deploy footnote in general.

Ideally, like you said, that note would go in the Deploy docs, and there would just be a tiny footnote in the section we have now like "please see [this note](https://google.com) regarding private submodules," which is much less intrusive on existing docs as well.

I just sent PRs in f

[2021-01-21 17:56] joostmeijles commented on #35
As far as I know Netlify does currently not support stale-while-revalidate. Without this feature it is not possible to implement ISR (and thus SSR is used). SSR basically is a blocking call, and the end user waits for the result to be calculated, while true ISR calculates the result in the background and returns the previous result to the user.

[2021-01-21 18:04] iDVB commented on #35
Thanks @joostmeijles! That makes sense.
**Current Netlify-ISR state:**
So it sounds like Netlify-ISR is also then still a blocking call then?
Still curious why then would you want to support both if you could alternatively just forward developers on to using SSR?

**Intended/Normal ISR State**
A co-worker and I are really trying to wrap our head around the intended mechanics of ISR and how its sup

[2021-01-21 20:49] mannycolon opened #157 "Cannot find module critters"
- See https://app.netlify.com/sites/silly-golick-1b4f9b/deploys/6009e6bf6ff93b00084d588f

- netlify.toml
[code]

-

![Screen Shot 2021-01-21 at 3 47 42 PM](https://user-images.githubusercontent.com/17072300/105410535-11018600-5c00-11eb-83a1-f8fe67d44609.png)
![Screen Shot 2021-01-21 at 3 48 27 PM](https://user-images.githubusercontent.com/17072300/105410592-28d90a00-5c00-11eb-9e67-4d138e1e59c9.png

[2021-01-22 00:10] #153 closed

[2021-01-22 07:42] amuttsch commented on #153
Awesome, thanks for the quick fix :-) I'll check it when a new release is available! :-)

[2021-01-22 11:35] lindsaylevine commented on #154
totally with you! is your PR still a draft or is it ready to be reviewed/merged? :D @ctjlewis

[2021-01-22 11:37] ctjlewis commented on #154
It's probably good to review/merge @lindsaylevine! I will update.

[2021-01-24 13:13] neefrehman commented on #103
@lindsaylevine hello! Sorry for bringing it up again but I'm the `critters` issue has resurfaced :(

Works fine again when I re-install it as a devDependency, but just thought I'd bring it to your attention.

[code]

[2021-01-24 13:31] lindsaylevine commented on #103
@neefrehman

![NotLikeThis-Logo](https://user-images.githubusercontent.com/57350178/105631834-6fa44b00-5e1e-11eb-89c0-841c17cecb42.png)

thank you for surfacing. i tagged @erezrokah in slack for tomorrow!

[2021-01-24 13:33] lindsaylevine commented on #103
@neefrehman do you have a link to the deploy that failed? (doesnt need to be public)

[2021-01-24 13:34] lindsaylevine commented on #103
@neefrehman ah wait just realized you're using the CLI (i think)

[2021-01-24 13:34] lindsaylevine commented on #103
https://github.com/netlify/netlify-plugin-nextjs/issues/88

[2021-01-24 13:37] lindsaylevine commented on #103
i'm gonna re-close after transferring the plugin issue to NoN. let's track there since some back and forth has started.

https://github.com/netlify/next-on-netlify/issues/157

[2021-01-24 13:37] #103 closed

[2021-01-24 13:38] #154 closed

[2021-01-24 13:43] neefrehman commented on #157
@lindsaylevine heya! continuing on from https://github.com/netlify/next-on-netlify/issues/103.

I'm not using the CLI, just the github continuous integration.

here's the deploy link: https://app.netlify.com/teams/neef/builds/600d76a5b2138f000738f5dd

[2021-01-25 09:53] ezekielaquino commented on #157
I'm also having this error! Occurred when I updated `next` to 10.0.5 and `next-on-netlify` to latest

[2021-01-25 11:34] lindsaylevine commented on #35
@iDVB hey! what @joostmeijles said _is_ correct - netlify does not currently support SWR (stale-while-revalidate). so yes, currently, ISR on netlify is a blocking call.

the current behavior is temporay. we _want_ to and are aiming to support ISG/ISR in the way that @joostmeijles describes ("true ISR calculates the result in the background and returns the previous result to the user") - or as clos

[2021-01-25 15:14] gregg-cbs commented on #143
I ended up using Heroku instead for a number of reasons.

[2021-01-25 17:41] erezrokah commented on #157
Hi everyone, sorry for the delay to respond. @mannycolon I forked you repo and updated to `next@10.0.5` and my build is passing. See https://github.com/erezrokah/next-prankz/commit/682f13dffe5350ea30d727b81285991f9b5aeac9 and https://app.netlify.com/sites/objective-cori-263efa/deploys/600f019de7f59c000714301b. Can you provide a **step by step** guide to reproduce the error?

For @neefrehman and @e

[2021-01-25 18:00] neefrehman commented on #157
@erezrokah here you go: https://github.com/neefrehman/allergies.travel/tree/staging. Note that the bug is only on the staging branch, as main still uses `next export`

[2021-01-26 00:35] mannycolon commented on #157
@erezrokah It started working after your changes on https://github.com/netlify/build/issues/2193

[2021-01-26 09:41] lindsaylevine commented on #143
@gregg-cbs hey, thanks for your transparency! no worries at all, totally understand. would love to hear if you're willing to share the limitations you mentioned! will be helpful to pass along to the team :) and thanks for the kind words!!

for everyone else - the internal fix has been released for this so i'm going to make an attempt to put the next/image support back in. will keep you updated!

[2021-01-26 09:58] #143 closed

[2021-01-26 10:11] lindsaylevine commented on #153
@amuttsch hey! this was just released :)

[2021-01-26 11:23] amuttsch commented on #153
Perfect, thanks! Our deployments look correct with `2.8.5` :tada:

[2021-01-26 13:49] erezrokah commented on #157
Thanks @neefrehman that helps. I was able to reproduce the issue and will submit a fix soon.
As a workaround you can change this line:
https://github.com/neefrehman/allergies.travel/blob/f06dd33785de8125bfff15d275bb534e99319598/package.json#L36
to `"next": "^10.0.0",`

[2021-01-26 16:59] erezrokah commented on #157
FYI, we haven't released the fix to our production env yet - I'll follow up here once it's released

[2021-01-26 18:58] erezrokah commented on #157
This fixed was rolled out to our production environment. Please comment if the issue still persists

[2021-01-27 11:58] lindsaylevine commented on #123
closing because it seems this isn't really a real issue at the moment outside of moop-moop bringing it up, and we can re-address when edge handlers are out.

[2021-01-27 11:58] #123 closed

[2021-01-27 12:04] lindsaylevine commented on #129
i think the conclusion at the moment is that minimizing build times are a bigger priority and copying files is probably more costly than having many redirects. this is tangentially related to https://github.com/netlify/next-on-netlify/issues/123. we can re-address if redirects become a real issue.

[2021-01-27 12:04] #129 closed

[2021-01-28 16:16] jlengstorf commented on #98
here's a reproduction from @JoviDeCroock showing what appears to be URL-encoding issues. these issues _are not_ present in local development with Netlify Dev, if that helps with debugging

* https://stupefied-ritchie-9883b6.netlify.app/
* https://github.com/JoviDeCroock/netlify-next-issue

[2021-01-29 04:26] jhesgodi commented on #157
@erezrokah thanks for putting time on the fixes. I think there could be another use case missing as of today I found the error again.
Please find:
* a base repo using `NoN` here:
https://github.com/jhesg/netlify-next

* netlify public logs:
  * it fails for latest nextjs at branch **[spike/with-latest-nextjs](https://github.com/jhesg/netlify-next/tree/spike/with-latest-nextjs)**
https://app.netlif

[2021-01-29 09:09] lindsaylevine commented on #157
@jhesgodi

[2021-01-29 09:53] erezrokah commented on #157
Thanks for reporting @jhesgodi - this is indeed a use case we didn't consider.
Our current logic looks as `next` version but won't match `latest`:
https://github.com/netlify/zip-it-and-ship-it/blob/c17440c2a14c35521cb123c51516d4d86645204e/src/node_dependencies/nested.js#L81

We're discussing on a [long term solution](https://github.com/netlify/zip-it-and-ship-it/issues/225) so plugins can customiz

[2021-01-29 15:29] #157 closed

[2021-01-31 23:23] lindsaylevine commented on #99
next 10.0.6 is out! i just confirmed this works with next 10.0.6 and latest next-on-netlify for both targets (serverless and experimental-serverless-trace). please comment if you happen to still being have issues! <3

[2021-01-31 23:23] #99 closed

[2021-02-03 17:08] tino-junge opened #164 "[i18n] preview redirects are failing with non-default locales"
**Describe the bug**

Hi 👋

I'm currently experiencing issues using the preview mode with non-default locales on deployed Netlify builds.

My current setup uses NextJS (10.0.6) with next-on-netlify (2.8.7) and Contentful as a CMS. When successfully deployed to netlify, the i18n routing and content preview both work individually, however not in combination. When trying to access a non-default local

[2021-02-03 21:26] lindsaylevine commented on #164
@tino-junge hey tino! thanks so much for opening this detailed issue. unfortunately, after a lot of tinkering, i haven't been able to repro what you're experiencing. what you're reporting is likely super specific to the page type of whatever you're trying to preview, your exact logic, setup, etc. that said, i have to ask you to build/share a barebones deployable repo that reproduces your issue exa

[2021-02-04 01:16] jhesgodi opened #165 "Forward options params to "nextOnNetlify" function from node command-line args"
First of all, thanks for having a time to review.

**Is your feature request related to a problem? Please describe.**

I noticed **`nextOnNetlify`** function is invoked without any options param object at

[next-on-netlify.js#L15](https://github.com/netlify/next-on-netlify/blob/main/next-on-netlify.js#L15)
[code]

But it already does accept passing down such object to set `functionsDir` and `publi

[2021-02-04 10:40] tino-junge commented on #164
@lindsaylevine hi lindsay, thanks for looking into that. I realised that our preview setup might be quite custom and therefore hard to reproduce. I'll try to get a sample setup working and share it with you soon.

[2021-02-04 15:47] #96 closed

[2021-02-05 19:33] tino-junge commented on #164
Hey @lindsaylevine, I finally got a sample setup ready for review:

I've created a fresh Next + Netlify project (based on your [netlify starter kit](https://github.com/cassidoo/next-netlify-starter), thanks cassidoo!). When I've added my custom Contentful preview setup and NextJS i18n-routing I was able to reproduce the issue.

When visiting the the [production site](https://nostalgic-ride-32aba8.

[2021-02-05 20:11] lindsaylevine commented on #164
@tino-junge just saw this! can confirm i also see the infinite redirects; thank you so much for taking the time to put this together!! will dig into shortly and keep you updated :)

[2021-02-07 03:17] lindsaylevine commented on #164
@tino-junge ok so! i know what's going on and where it's going wrong in the source, but i'm not entirely sure why at this moment or how exactly to move forward.

[this line](https://github.com/vercel/next.js/blob/8f21c283b27357dbb2aebe94587901b6c7f4fe64/packages/next/next-server/server/next-server.ts#L505) is true _only_ for non-default locale root routes (aka `/pl` or `/fr` etc). when `shouldAddL

[2021-02-07 20:59] lindsaylevine commented on #165
@jhesgodi hey! thanks so much for opening this issue :) this proposal is something we considered at the time that we introduced custom functionsDir and publishDir (_"already does accept passing down such object to set functionsDir and publishDir"_). it is a totally valid request and use case. here's why we opted not to support it:

per our [README](https://github.com/netlify/next-on-netlify#next-o

[2021-02-07 20:59] #165 closed

[2021-02-07 21:17] #122 closed

[2021-02-08 05:50] colinwirt opened #166 "Allow API routes to optionally run as background function"
**Is your feature request related to a problem? Please describe.**
Some API routes we build start out nice and simple.
As we complete integrations with 3rd party systems (SAP for example), the tasks these need to perform can unexpectedly grow in complexity. Especially where client-side systems already exist to handle functionality and a client decides not to streamline or rebuild slow-running BAU

[2021-02-08 12:01] tino-junge commented on #164
Hey @lindsaylevine, thanks for your update on that. Yes I can confirm: the redirect bug within preview mode only occurs actually on the index page for `/pl`, but works fine for other routes like `pl/features`

[2021-02-09 16:44] lindsaylevine commented on #166
lol hello again colin! i thought i recognized your name 😸 (original ask for reference https://github.com/netlify/next-on-netlify/pull/127)

so you're imagining a file in pages/api named something like `users-background.js` ?

[2021-02-10 04:53] colinwirt commented on #166
Yes, that's right @lindsaylevine -- in fact that's how I've deployed the long running endpoint for my proof of concept using a fork of this package: a route called `/api/contact-us-background`

Using TypeScript meant it was non-trivial to extract this as a js function without a webpack step, so my first thought was to allow the name to include the `-background` suffix.

[2021-02-10 21:36] lindsaylevine commented on #166
@colinwirt ok, yes, we can do this! but i'll restrict it to api pages only. your original PR would've in theory allowed for any page type to run as a background function.

[2021-02-14 01:19] zaarheed opened #168 ""The 'path' argument must be of type string. Received undefined" when using next-auth"
**Describe the bug**
I initially raised a bug on the `next-auth` repo here: https://github.com/nextauthjs/next-auth/issues/1311

I am using `next-on-netlify` with `next-auth`. I am able to enter my email address at `/api/auth/signin`, but the following page (`/api/auth/signin/email`) shows the following runtime error:

[code]

The full logs on Netlify show the following:

[code]

I can't make much

[2021-02-15 06:04] lindsaylevine commented on #168
@zaarheed hey! thanks so much for providing such a detailed issue. i wish it was enough but unfortunately i need a little bit more. i'd love to help you but don't have the time to set up the env vars that seem to be needed/legitimate in order to exactly repro what you're seeing. if you can provide valid "mock" values for `EMAIL_FROM`, `EMAIL_SERVER_ADDRESS` and `IDENTITY_DB_URL`, i can handle `NEX

[2021-02-15 11:22] zaarheed commented on #168
@lindsaylevine totally understandable. I've DM'd you with all the env vars you need to recreate the issue. Once you're done I'll delete them.

If anyone else needs access to the vars to investigate, feel free to DM at [@zaarheed](https://www.twitter.com/zaarheed) me and I'm happy to provide.

Appreciate any insight and guidance on this issue :)

[2021-02-15 15:59] lindsaylevine commented on #168
@zaarheed hello! so i believe this may actually be a `next-auth` issue after all... but not totally sure next-on-netlify is absolved of all responsibility quite yet. cc @balazsorban44

what i do know is that the root of the issue starts here: https://github.com/nextauthjs/next-auth/blob/82dd6ba3e4ba481c5003c918eb1d2fa95f7d76dd/src/adapters/typeorm/index.js#L101

in the lambda that Next.js generate

[2021-02-15 17:06] zaarheed commented on #168
@lindsaylevine Interesting, thanks for taking a look. It sounds very similar to [this issue](https://github.com/nextauthjs/next-auth/issues/887) I saw on the `next-auth` repo earlier.

[2021-02-15 20:11] lindsaylevine commented on #168
interesting comment from @iaincollins ... i'm not sure this is a fair expectation? traditionally the package.json is excluded from bundles and publish dirs on purpose 🤔

[2021-02-15 22:46] lindsaylevine commented on #164
for transparency on the issue (even though tino already knows what's up :)):

this issue https://github.com/vercel/next.js/issues/21943 was opened on vercel/next.js but i didn't want to link to it directly given that this is a netlify-specific project :/ i've confirmed with tino that patching next.js resolves the issue he reported here (#164). if you'd like the same workaround until next.js mainta

[2021-02-16 02:23] lindsaylevine commented on #168
@zaarheed hey hey - i hate to send you on a wild goose chase. it's frustrating bouncing between repos, for sure. that said, i don't think there's anything left i can do on netlify's end. this is an issue specifically with next-auth and how next is bundling/generating this lambda representing /api/auth/[...nextauth]. when i log currentModule in the source at this point i get:

![Screen Shot 2021-02

[2021-02-16 02:30] #168 closed

[2021-02-16 22:55] MaximeHeckel commented on #140
Hey @lindsaylevine!

Are there any updates you could give regarding the progress the Netlify team has made on this issue?

[2021-02-17 02:03] lindsaylevine commented on #140
@MaximeHeckel heyo. we're still technically at the same crossroads we were at before. however! we have had _many_, *many* conversations internally about the right way to approach caching problems like this one, with a clear proposed solution. can't share too much but just know it is moving, and we're making sure we're doing it right and staying aligned with netlify's philosophy. will be worth the

[2021-02-17 15:29] MaximeHeckel commented on #140
That's great news thank you @lindsaylevine!

[2021-02-17 21:29] 2j2e opened #169 "Missing locale files with next-i18next"
I'm running into an issue with next-i18next. Read all related issues, read the PR which should cover i18n issues, but still in a circle of fail.
`{"errorType":"Error","errorMessage":"ENOENT: no such file or directory, scandir '/var/task/public/static/locales/en'","trace":["Error: ENOENT: no such file or directory, scandir '/var/task/public/static/locales/en'","    at Object.readdirSync (fs.js:955:

[2021-02-17 23:13] lindsaylevine commented on #169
hey @2j2e! thanks for bringing this to us! my first thought:

why are you using `next-i18next` along with the framework's embedded i18n support? aka, you have:

[code]

in next 10+, this configuration _alone_ will take care out of i18n out of the box for you, with no need for an additional package like next-i18next. i believe packages like that one existed before next 10 was released with native i

[2021-02-17 23:17] lindsaylevine commented on #169
note: if you're using i18n in next 10.0.6, you need to be on next-on-netlify 2.8.7 per a breaking change in 10.0.6. see this release: https://github.com/netlify/next-on-netlify/releases/tag/v2.8.7

[2021-02-18 10:35] 2j2e commented on #169
I tried with and without explicit `next.config.js` settings and it has zero effect. According to official Next.js docs the i18n support is only about proper routing, everything else should be done with external libraries.

```The i18n routing support is currently meant to complement existing i18n library solutions like react-intl, react-i18next, lingui, rosetta, and others by streamlining the rout

[2021-02-18 21:28] nikshenoy opened #170 "Is it necessary to force `no-cache` for getServerSideProps?"
https://github.com/netlify/next-on-netlify/blob/a73045f878b47f7fac8d70ceafd7e0ca39759d15/lib/templates/netlifyFunction.js#L29

It seems like the current code is forcing `no-cache` to be set on Netlify function calls (including getServerSideProps). I think this makes sense in a lot of cases, however we just had a use case where it would be safe to cache the results of that server-side execution for

[2021-02-19 09:28] lindsaylevine commented on #169
i believe this is related to https://github.com/netlify/next-on-netlify/issues/124

[2021-02-20 04:49] lindsaylevine commented on #170
hey @nikshenoy ! thanks for opening this :) apologies our override is affecting a use case of yours :/. happy to provide some clarity and see if we can find a resolution.

the default cache control set by next.js has negative side effects on netlify. the main problem here would be that next.js _always_ sets the cache control and we, on the next-on-netlify side, wouldn't be able to determine if the

[2021-02-20 11:58] 2j2e commented on #169
Not sure about #124,
Here is the [example repo](https://github.com/2j2e/netlify-next-issue.git) which a clone of the official `next-i18next` example combining with Netlify configuration.

[2021-02-20 13:27] 2j2e commented on #169
Wooh, I found that next v10 [is not actually supported](https://github.com/isaachinman/next-i18next/issues/869`) by `next-i18next`, what a twist.

[2021-02-20 14:28] lindsaylevine commented on #169
@2j2e haaa oh no.. what does that mean exactly for you/for this issue?

i will say that i still believe this is at least in part related to #124 because it seems `public/static/locales` is not getting bundled with the netlify function for your pages/index.js, causing that error during "runtime"/from within the function environment. that, or somehow they are being bundled and just accessible at a d

[2021-02-20 17:54] 2j2e commented on #169
Thank you for a quick tracking and answers. I decided to switch to the `next-translate`. Not just decided, but already did and works perfect for now.
I don't know if you want to keep this issue open, but I'm OK to close it.

[2021-02-20 19:31] lindsaylevine commented on #169
@2j2e of course!!! and oh that's great news yay! i'll close this one and if you run into any issues with `next-translate` you can always open another! 🖖

[2021-02-20 19:31] #169 closed

[2021-02-22 14:18] nikshenoy commented on #170
hey @lindsaylevine, I think the thing that makes sense is to make Next.js fix this so that we can override. The other thought I had, since Cache-Control is flexible and will ignore unknown directives, is to add a special directive if we're overriding (like non-override or some such) and then the NoN code would know not to add that header.

[2021-02-22 20:00] spencewood commented on #121
I am in a situation where I need to use `target: "experimental-serverless-trace"` along with SSR and dynamic imports, so this doesn't only affect preview mode. I've created an example repo that shows it here: https://github.com/spencewood/next-serverless-test. This is simply Cassidy's next/netlify starter where I:

* switched the Header to a dynamic import
* used the Netlify plugin instead of `nex

[2021-02-23 18:13] djw11192 opened #172 "Timeout error when using MongoDB in getServerSideProps"
**Describe the bug**
I am using `getServerSideProps` in a dynamic route to try to get data from my mongoDB database and render it in my page. Locally this works perfectly, but when I deploy to Netlify I get a timeout error:
[code]
NOTE: when testing with an external api there is no issue, so I think this has to be related to MongoDB.  MongoDB has IP restrictions but I made sure to add `0.0.0.0/0`

[2021-02-24 07:33] lindsaylevine commented on #124
@MejanH hey! we pushed up a temporary solution for this supported in the plugin and wanted to let you know since you were the very first to surface this issue! i will note that this is a _temporary_, unstable solution. we're also working on a greater, platform-wide solution for this type of file inclusion. if you'd like access to the short term next-specific plugin solution, feel free to email me

[2021-02-24 22:05] lindsaylevine commented on #172
hey @djw11192 ! thanks for opening this issue and sorry you're experiencing a function timeout :/ 26 seconds is definitely super long to still be timing out. have you tried putting that db connect and collection.findOne call chain into an [api page/route](https://nextjs.org/docs/api-routes/introduction) instead? that, or you could try just a [pure netlify function](https://docs.netlify.com/functio

[2021-02-25 03:22] #166 closed

[2021-02-25 03:59] lindsaylevine commented on #170
@nikshenoy yeah, i hear you. are you going to open an issue to next.js if you haven't already? would be interested in tracking that here!

[2021-02-25 21:03] lindsaylevine commented on #164
fixed per https://github.com/vercel/next.js/pull/22445 :) shoutout to jj from vercel/next.js for fixing it!

[2021-02-25 21:03] #164 closed

[2021-02-25 21:25] leerob commented on #172
@djw11192 Could you try updating your code to connect to Mongo to the [latest recommendation](https://github.com/vercel/next.js/blob/canary/examples/with-mongodb/util/mongodb.js) from the Mongo team? We've been working with them to try and improve the Next.js + Mongo experience and prevent connection timeouts in serverless environments.

Also - if possible, try to deploy your Mongo database in `us

[2021-02-26 18:00] jlengstorf commented on #140
hey, @MaximeHeckel! we have an experimental feature in development that we think helps here. if you're interested in trying it out, could you please send us your site's API ID (you can find this on app.netlify.com under "site settings") to jason.lengstorf@netlify.com?

(note to onlookers, we're letting a few folks in, so feel free to email me your use case an site API IDs 👀 )

[2021-02-26 19:32] lindsaylevine commented on #140
a very big shoutout to jason (@jlengstorf) who's been hugely responsible for all of the work that's gone into next/image support from day one and who's been overall instrumental in helping with next-on-netlify's toughest problems!!! ❤️

[2021-02-26 19:33] MaximeHeckel commented on #140
Hey @jlengstorf that would be amazing 🔥 ! sending you an email right now!

[2021-02-26 19:55] lokmanm commented on #140
Super excited about this, thanks to everyone at Netlify 🎉

[2021-02-26 20:50] JeroenReumkens commented on #140
Yesss! Can not wait 😁 I’ve tried this a week back and stumbled across this issue. Stoked that there might be a solution already this quickly! 🚀

I’ve sent you an email Jason. Love to try it out.

[2021-03-01 07:42] lindsaylevine commented on #121
@spencewood @afzalsayed96 opened a PR. if yall wanna install the branch `ll/est-dynamic-imports` and give it a shot let me know if it does in fact solve your issue!

[2021-03-01 15:12] spencewood commented on #121
@lindsaylevine yep, that fixes it! I look forward to it being included with the Netlify plugin. Thanks!

[2021-03-02 05:01] #121 closed

[2021-03-03 01:35] lindsaylevine commented on #172
@djw11192 hey! any updates here? :D

[2021-03-03 08:50] joaogarin commented on #24
This is now fully supported (not experimental) in Nextjs. is this something that will be eventually added / supported? I would like to consider moving an app to netlify but currently it does use nextjs redirects and rewrites and so would be tricky not having those work anymore if I decide to move it =) thank you! happy netlify client ;)

[2021-03-03 09:04] balazsorban44 commented on #168
To say something here, I don't like require_optional, and would like to move to something like `peerDependenciesMeta`. We are also in the process of moving out the adapters into their own packages. (https://github.com/nextauthjs/adapters)

Related issue: https://github.com/nextauthjs/next-auth/issues/1012

[2021-03-03 20:21] emilyzhang commented on #98
Just a heads up: the fix for this issue (netlify/proxy#430) has been rolled out to all production nodes!

[2021-03-03 20:26] JoviDeCroock commented on #98
Awesome, thank you for the update @emilyzhang

[2021-03-04 00:20] lindsaylevine commented on #98
thank you @emilyzhang !!!!!!! @phbernard can you confirm your original issue is resolved? :) 🙏

[2021-03-04 13:41] phbernard commented on #98
It's resolved! 🎉

Now https://clever-poincare-8cd163.netlify.app/somedir/http%3A%2F%2Fexample.com%2F prints `Variable: http://example.com/`, like Vercel.

Thank you! 🙏

[2021-03-04 13:41] #98 closed

[2021-03-04 23:37] dan-cooke commented on #20
@FinnWoelm thanks for all this great info here.

I've entered a bit of a rabbit hole this evening. Do you know how I would retrieve the `clientContext` if I am using `apollo-server-micro` ?

The main issue here is that the exported function is inaccesible to me, so Its likely that the context is not being passed through to Apollo Server.

[code]

[2021-03-05 02:59] lindsaylevine opened #176 "*** deprecating next-on-netlify *** (info & feedback)"
beloved NoN users! it's been a pleasure serving you here on this repo, born and raised by friend and inspiration @FinnWoelm, but it's time to deprecate `next-on-netlify` in favor of its successor, the [Essential Next.js plugin](https://github.com/netlify/netlify-plugin-nextjs) - built and supported by the same people who have been maintaining NoN.

this issue will be the primary place for NoN user

[2021-03-07 15:34] FinnWoelm commented on #176
The last year has been a wonderful journey for `next-on-netlify` :heart:

`next-on-netlify` really has come a very long way, from the small prototype project that it started as, all the way to being adopted by @netlify, and now soon being automatically installed with zero-config. And even though it's always sad to say goodbye, in this case I am extremely excited for what's to come. It's been an im

[2021-03-09 03:52] brenelz commented on #168
So I think I am having this issue. Does next-auth work on netlify currently?

[2021-03-09 07:17] brenelz commented on #66
Awesome... this fixed an issue I was having with connecting to mongodb atlas from getServerSideProps!

[2021-03-09 08:08] zaarheed commented on #168
@brenelz not working for me when using Mongo as the database

@lindsaylevine has kindly shown me how to use patch-package to see if that will get me around the issue but I haven’t had a chance to try it yet

[2021-03-09 08:19] lindsaylevine commented on #168
@brenelz yeah, it doesn't work. i think next-auth needs to support serverless environments to be compatible with netlify (see: https://github.com/nextauthjs/next-auth/issues/887 which @zaarheed shared earlier in the thread).

[2021-03-09 08:19] lindsaylevine commented on #172
closing due to inactivity; feel free to reopen!

[2021-03-09 08:27] balazsorban44 commented on #168
@brenelz not totally sure what you mean by us working on netlify? We don't specifically code against any platform but we do support all the platforms that can run Next.js correctly.

@lindsaylevine we do support serverless, and it works fine for most of the people.

If you are having issues, please report it under our repository with a complete reproduction, so we can track down the problem.

[2021-03-09 08:38] zaarheed commented on #168
@balazsorban44 ticket already created with full repro: https://github.com/nextauthjs/next-auth/issues/1311

Feel free to DM me for the env vars

[2021-03-09 08:43] lindsaylevine commented on #168
@balazsorban44 i see two issues on next-auth for two different serverless environments where it doesn't work, closed because "it works for most people". as demonstrated [earlier in this thread](https://github.com/netlify/next-on-netlify/issues/168#issuecomment-779539975), there's nothing next-on-netlify can do to fix this issue.

[2021-03-09 14:18] iaincollins commented on #168
Hi there! Thanks @lindsaylevine for the research.

NextAuth.js can be used on Vercel, AWS Lambda, AWS Lambda @ Edge as well as with containers (Heroku, Fargate, etc).

When folks run into problems it's usually because of *how* things are being bundled or deployed; there are several different ways of packaging up Node.js - and specifically Next.js applications - even within the Serverless framework

[2021-03-10 00:02] brenelz commented on #168
So I got things up a running with 2 different things needed. This patch-package thing is cool!

1. My [...nextauth].js looks like the following:
[code]

2, Used the patch-package to change `var mongodb = (0, _require_optional.default)('mongodb');` to `var mongodb = require('mongodb');`

[2021-03-10 01:00] lindsaylevine commented on #168
@iaincollins thank you so so so much for the detailed breakdown! that's super insightful and helpful. will keep this in mind with other next-auth-related issues that come netlify's way.

@brenelz excellent!!!! thank you for sharing this. that patch is what i suggested to @zaarheed in dms, though i definitely was missing the callbackWaitsForEmptyEventLoop piece. it doesn't work without that? how'd

[2021-03-10 01:17] brenelz commented on #168
@lindsaylevine well the first issue was the netlify function was just hanging and timing out. Thats what the callbackWaitsForEmptyEventLoop is for. To be honest I found it by lots of googling and trial and error.

I seems like mongodb needs that for some reason. Some links that I found were:

https://docs.atlas.mongodb.com/best-practices-connecting-to-aws-lambda/
https://github.com/netlify/next-on

[2021-03-10 17:05] balazsorban44 commented on #168
Happy that Iain could give an insightful answer! I am grateful for his experience/support and sorry that I could not help myself.

[2021-03-15 16:34] marengga commented on #3
Hi, I got a problem related to this issue while using this package

[code]

I tried to debug it and hardcoded getNextDistDir function to return ".next" and it works.
[code]

Adding distDir to next.config.js doesn't solved this. Still figuring it out what's wrong with this.
Any help would be appreciated

[2021-03-15 16:46] jlengstorf commented on #3
@marengga could you give this a try with https://github.com/netlify/netlify-plugin-nextjs? this package has been absorbed into that project and automates a lot of the configuration (which should resolve this)

thanks!

[2021-03-15 16:52] marengga commented on #3
Thanks for the clue, @jlengstorf. I just realized the plan to deprecate this package after re-reading the README.
Sure I'll give it a try!